
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/icomoon.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/icomoon.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/icomoon.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'NotoKufiArabic';
  src: url('../fonts/NotoKufiArabic.eot');
  src: url('../fonts/NotoKufiArabic.eot') format('embedded-opentype'),
  url('../fonts/NotoKufiArabic.woff') format('woff'),
  url('../fonts/NotoKufiArabic.ttf') format('truetype'),
  url('../fonts/NotoKufiArabic.svg#NotoKufiArabic') format('svg');
}

@font-face {
  font-family: 'Lato';
  src:url('../fonts/lato.woff2') format('woff2');
}


/* ---------------------------------------------------------
1. Import bootstrap custom variables & mixins
2. Import custom mixins
3. Сommon site styles
---------------------------------------------------------*/

/* ---------------------------------------------------------
1. Import bootstrap custom variables & mixins
---------------------------------------------------------*/

/* ---------------------------------------------------------
2. Import custom mixins
---------------------------------------------------------*/

[class^="icon-"],
[class*=" icon-"],
.brand-set .opener:after,
.account-actions .user:after,
.country-set .jcf-select .jcf-select-opener:before,
.phone a:before,
.cart .opener:before,
.shopping-cart .item-options .show-all:after,
.main-menu .back a:after,
.main-menu .woman > a:after,
.main-menu .men > a:after,
.main-menu .kids > a:after,
.main-menu .beauty > a:after,
.main-menu .shoes > a:after,
.main-menu .electronics > a:after,
.main-menu .sports > a:after,
.main-menu .home > a:after,
.main-menu .drop .has-drop > a:after,
.main-menu .drop .has-drop > .hold > strong > a:after,
.main-menu .drop .back > a:after,
.contacts a:before,
.account-menu .back-to:before,
.account-menu .breadcrumbs li + li:before,
.brands-section .heading .back-to:before,
.blogs .back-to:before,
.share a:before,
.jcf-select .jcf-select-opener:before {
  font-family: "icomoon";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-indent: 0;
  text-transform: none;

  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-fluid:after,
.user-bar:after,
.cart .total:after,
.main-menu .drop li:after,
.sort-line:after {
  clear: both;
  content: " ";
  display: block;
}

.brand-set ul,
.account-actions ul,
.shopping-cart,
.shopping-cart .slide ul,
.main-menu ul,
.contacts,
.account-menu .add-nav,
.account-menu .breadcrumbs,
.month-set {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ---------------------------------------------------------
3. Сommon site styles
---------------------------------------------------------*/

/* main layout styles */

/* main container styles */

body {
  min-width: 320px;
}

/* page wrapper */

#wrapper {
  overflow: hidden;
  padding: 110px 0 0;
  position: relative;
  width: 100%;
}

/* smooth effect */

button,
a {
  outline: none !important;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

button:focus,
a:focus {
  outline: none;
}

/* centered container */

.container-fluid {
  max-width: 1256px;
  padding: 0 10px;
}

/* main block */

.block {
  border-bottom: 1px solid #edeff1;
  margin: 0 0 36px;
}

/* page custom icons */

/* ---------------------------------------------------------
1. Embedded fonts styles
---------------------------------------------------------*/

@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/icomoon.eot?r0d2o6");
  src: url("../fonts/icomoon.eot?#iefixr0d2o6") format("embedded-opentype"), url("../fonts/icomoon.ttf?r0d2o6") format("truetype"), url("../fonts/icomoon.woff?r0d2o6") format("woff"), url("../fonts/icomoon.svg?r0d2o6#icomoon") format("svg");
}

/* ---------------------------------------------------------
4. Custom icons
---------------------------------------------------------*/

.icon-mail2:before {
  content: "\e630";
}

.icon-sms:before {
  content: "\e631";
}

.icon-play:before {
  content: "\e62f";
}

.icon-pin:before {
  content: "\e62e";
}

.icon-box:before {
  content: "\e62b";
}

.icon-card:before {
  content: "\e62c";
}

.icon-store:before {
  content: "\e62d";
}

.icon-youtube2:before {
  content: "\e62a";
}

.icon-mail:before {
  content: "\e629";
}

.icon-arrow-right:before {
  content: "\e628";
}

.icon-lock:before {
  content: "\e624";
}

.icon-mobile:before {
  content: "\e625";
}

.icon-rocket:before {
  content: "\e626";
}

.icon-car3:before {
  content: "\e627";
}

.icon-delete:before {
  content: "\e620";
}

.icon-edit:before {
  content: "\e621";
}

.icon-reset:before {
  content: "\e622";
}

.icon-submit:before {
  content: "\e623";
}

.icon-question:before {
  content: "\e61f";
}

.icon-chat:before {
  content: "\e61e";
}

.icon-return:before {
  content: "\e61d";
}

.icon-car2:before {
  content: "\e61a";
}

.icon-portmone2:before {
  content: "\e61b";
}

.icon-pushcart2:before {
  content: "\e61c";
}

.icon-zoom:before {
  content: "\e619";
}

.icon-car:before {
  content: "\e612";
}

.icon-google:before {
  content: "\e613";
}

.icon-like:before {
  content: "\e614";
}

.icon-message:before {
  content: "\e615";
}

.icon-portmone:before {
  content: "\e616";
}

.icon-pushcart:before {
  content: "\e617";
}

.icon-unlike:before {
  content: "\e618";
}

.icon-alert:before {
  content: "\e611";
}

.icon-facebook2:before {
  content: "\e610";
}

.icon-cart:before {
  content: "\e602";
}

.icon-cart-o:before {
  content: "\e603";
}

.icon-more:before {
  content: "\e608";
}

.icon-down:before {
  content: "\e604";
}

.icon-email:before {
  content: "\e605";
}

.icon-facebook:before {
  content: "\e606";
}

.icon-instagram:before {
  content: "\e607";
}

.icon-pinterset:before {
  content: "\e609";
}

.icon-search:before {
  content: "\e60a";
}

.icon-tel:before {
  content: "\e60b";
}

.icon-tel-o:before {
  content: "\e60c";
}

.icon-twitter:before {
  content: "\e60d";
}

.icon-up:before {
  content: "\e60e";
}

.icon-youtube:before {
  content: "\e60f";
}

.icon-next:before {
  content: "\e600";
}

.icon-prev:before {
  content: "\e601";
}

/* header styles */

/* header styles */

.header {
  background: #fff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header.nav-active {
  background: none;
}

/* top bar */

.top-bar {
  background: white; /* header logo styles */
  padding: 15px 0;
  position: relative;
  z-index: 11;
}

.top-bar .logo-bar {
  float: left;
  width: 63%;
}

.top-bar .logo {
  float: left;
  margin: 6px 20px 0 0;
  position: relative;
  width: auto;
}

/* page logo styles */

.logo img {
  height: auto;
  max-width: 104px;
  /* vertical-align: top;*/
}

/* brand select */

.brand-set {
/*    float: left;
position: relative;
vertical-align: top;
text-align: center;
width: 22%; */

}

/* .brand-set:before {
border-left: 1px solid #dbe1e2;
content: "";
height: 23px;
left: 0;
position: absolute;
top: 4px;
}*/
/*   .brand-set:before {
height: 26px;
content: '';
position: absolute;
left: 0;
top: 4px;
padding: 0;
padding-left: 15px;
border-left: 1px solid #dbe1e2;
}*/
.top-bar .brand-set:before {
  height: 26px;
}
/* .top-bar .brand-set:before {
content: '';
position: absolute;
left: 0;
top: 4px;
padding: 0;
height: 26px;
} */
/* .top-bar .brand-set:before {
padding-left: 15px;
border-left: 1px solid #dbe1e2;
} */
.brand-set.active .opener {
  color: #231f20;
}

.brand-set.selected {
  margin-left: -23px;
  padding: 3px 0 0 13px;
  text-align: left;
}

.brand-set.selected:before {
  border-left: 1px solid #322e2f;
  height: 26px;
  -webkit-transform: rotate(22deg);
  -ms-transform: rotate(22deg);
  transform: rotate(22deg);
}

/*   .brand-set .opener {
color: #71787f;
display: inline-block;
font-weight: bold;
margin: 0 2px 0 0;
padding: 0 20px 0 0;
position: relative;
}*/

/*.brand-set .opener:after {
content: "\e604";
font-size: 6px;
font-weight: normal;
margin-top: -2px;
position: absolute;
right: 0;
top: 50%;
}*/

.brand-set .opener:focus {
  text-decoration: none;
}

.brand-set .opener:hover {
  color: #000;
  text-decoration: none;
}


/*   .brand-set ul {
background: rgba(255, 255, 255, .95);
border-radius: 0 0 2px 2px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
display: none;
font-size: 12px;
left: 0;
padding: 0 20px;
position: absolute;
text-align: center;
top: 50px;
width: 100%;
}

.brand-set ul li {
border-top: 1px solid #edeff1;
}
.brand-set ul li:first-child {
border: none;
}

.brand-set ul strong {
display: block;
font-weight: normal;
padding: 12px 0 0;
}

.brand-set ul a {
color: #666;
display: block;
margin: 0 -20px;
padding: 21px 20px 18px;
}*/

.brand-set ul a:hover {
  background: #f5f5f7;
  color: #000;
  text-decoration: none;
}

/* header search form */

.search-form {
  background: #fff;
  border: 1px solid #b2b6b9;
  border-radius: 2px;
  box-shadow: inset 0 2px 0 0 #f0f0f0;
  max-width: 454px;
  overflow: hidden;
  padding: 0 30px 0 0;
  position: relative;
}

.search-form .form-control {
  background: none;
  border: none;
  box-shadow: none;
  height: 33px;
  outline: none;
  padding: 7px 10px;
}

.search-form button[type="submit"] {
  background: none;
  border: none;
  color: #bdc3c7;
  font-size: 16px;
  height: 33px;
  line-height: 34px;
  padding: 0 6px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}

.search-form button[type="submit"]:hover {
  color: #71787f;
}

/* user-bar */

.user-bar {
  float: right;
  padding: 10px 0 0;
}

/* not-logedin */

.not-logedin .main-menu .user-panel .signup-holder {
  display: block;
}

.not-logedin .main-menu .user-panel .user-name {
  display: none;
}

.not-logedin .account-actions > strong,
.not-logedin .account-actions .signin {
  display: inline;
}

.not-logedin .account-actions .user {
  display: none;
}

/* user actions */

.account-actions {
  float: left;
  padding: 0 14px 0 0;
  position: relative;
}

.account-actions.active .user {
  color: #000;
}

.account-actions > strong,
.account-actions .signin {
  display: none;
}

.account-actions .user {
  color: #71787f;
  display: block;
  font-weight: bold;
  padding: 0 18px 0 0;
  position: relative;
}

.account-actions .user:after {
  content: "\e604";
  font-size: 6px;
  font-weight: normal;
  margin-top: -3px;
  position: absolute;
  right: 0;
  top: 50%;
}

.account-actions .user:focus {
  text-decoration: none;
}

.account-actions .user:hover {
  color: #000;
  text-decoration: none;
}

.account-actions strong,
.account-actions .signin {
  color: #71787f;
  font-weight: bold;
}

.account-actions .signin:hover {
  color: #000;
  text-decoration: none;
}

.account-actions ul {
  background: rgba(255, 255, 255, .95);
  border-radius: 0 0 2px 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  display: none;
  font-size: 13px;
  left: -15px;
  padding: 5px 20px 12px;
  position: absolute;
  top: 23px;
  width: 190px;
}

.account-actions ul li.logout {
  border-top: 1px solid #d0d7e0;
  margin: 5px 0 0;
  padding: 5px 0 0;
}

.account-actions ul a {
  color: #3d464d;
  display: block;
  margin: 0 -20px;
  padding: 6px 20px;
}

.account-actions ul a:hover {
  background: #f5f5f7;
  color: #000;
  text-decoration: none !important;
}

/* switch country links */

.country-set {
  float: left;
  padding-left: 15px;
  position: relative;
  width: 80px;
}

.country-set:after {
  border-left: 1px solid #dbe1e2;
  content: "";
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
}

.country-set .jcf-select {
  background: none;
  border: none;
  cursor: pointer;
  height: 22px;
  margin: -2px 0 0;
}

.country-set .jcf-select.jcf-drop-active .jcf-select-opener:before,
.country-set .jcf-select:hover .jcf-select-opener:before {
  color: #000;
}

.country-set .jcf-select.jcf-drop-active .jcf-select-text,
.country-set .jcf-select:hover .jcf-select-text {
  color: #000;
}

.country-set .jcf-select .jcf-select-text {
  color: #71787f;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 11px 0 0;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.country-set .jcf-select .jcf-select-text img {
  float: left;
  height: 12px;
  margin: 5px 7px 0 0;
  width: 19px;
}

.country-set .jcf-select .jcf-select-opener {
  background: none;
  width: 10px;
}

.country-set .jcf-select .jcf-select-opener:before {
  color: #71787f;
  content: "\e604";
  font-size: 6px;
  line-height: 20px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.jcf-select-country-select .jcf-list {
  background: rgba(255, 255, 255, .95);
  border-radius: 0 0 2px 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  font-size: 13px;
  margin-left: -10px;
  text-transform: uppercase;
  width: 90px;
}

.jcf-select-country-select .jcf-list .jcf-option {
  background: none;
  background: #fff;
  color: #71787f;
  cursor: pointer;
  padding: 8px 10px;
}

.jcf-select-country-select .jcf-list .jcf-option:hover,
.jcf-select-country-select .jcf-list .jcf-option.jcf-selected {
  background: #f5f6f7;
  color: #000;
}

.jcf-select-country-select .jcf-list img {
  float: left;
  height: 12px;
  margin: 2px 5px 0 0;
  width: 19px;
}

/* main phone */

.phone {
  float: left;
  margin-left: 14px;
  padding-left: 15px;
  position: relative;
}

.phone:after {
  border-left: 1px solid #dbe1e2;
  content: "";
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
}

.phone a {
  color: #71787f;
  display: block;
  padding-left: 22px;
  position: relative;
}

.phone a:before {
  content: "\e60c";
  font-size: 17px;
  left: 0;
  position: absolute;
  top: -2px;
}

.phone a:hover {
  color: #000;
  text-decoration: none;
}

/* shopping cart */

.cart {
  float: left;
  margin: 0 0 0 14px;
  padding: 0 15px;
  position: relative;
  width: 61px;
  z-index: 10;
}

.cart:after {
  border: 1px solid #dbe1e2;
  border-width: 0 1px;
  content: "";
  height: 16px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.cart .opener {
  display: inline-block;
  height: 21px;
  margin-top: -6px;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  width: 22px;
}

.cart .opener span {
  background: #00b9e5;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  position: absolute;
  right: -9px;
  text-align: center;
  top: -1px;
  width: 18px;
}

.cart .opener:before {
  color: #71787f;
  content: "\e603";
  font-size: 22px;
}

.cart .opener:hover {
  text-decoration: none;
}

.cart .opener:hover:before {
  content: "\e602";
}

.cart.active .opener:before {
  content: "\e602";
}

.cart .drop {
  background: rgba(255, 255, 255, .95);
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .2);
  display: none;
  font-size: 13px;
  padding: 15px 20px 10px;
  position: absolute;
  right: 0;
  top: 40px;
  width: 400px;
}

.cart .heading {
  color: #3d464d;
  font-size: 14px;
  padding: 0 0 8px;
}

.cart .heading strong {
  font-weight: 600;
}

.cart .total {
  color: #3d464d;
  font-size: 14px;
  margin: 0 0 17px;
}

.cart .total strong {
  font-weight: 600;
}

.cart .total .price {
  color: #3d464d;
  float: right;
  font-size: 16px;
  font-weight: 600;
  margin-top: -1px;
}

.shopping-cart {
  border: 2px solid #ecf0f1;
  border-width: 2px 0;
  color: #3d464d;
  font-size: 14px;
  margin: 0 0 16px;
  padding: 8px 0 0;
}

.shopping-cart li {
  border-top: 1px solid #edeff1;
  overflow: hidden;
  padding: 8px 0 10px;
}

.shopping-cart li:first-child {
  border: none;
  padding-top: 0;
}

.shopping-cart .img-holder {
  float: left;
  margin: 2px 17px 0 0;
  width: 65px;
}

.shopping-cart .img-holder img {
  max-width: 100%;
  vertical-align: top;
}

.shopping-cart .descr {
  overflow: hidden;
}

.shopping-cart .title {
  display: block;
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 6px;
}

.shopping-cart .title a {
  color: #72818d;
}

.shopping-cart p {
  margin: 0 0 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.shopping-cart .item-options {
  font-size: 13px;
  overflow: hidden;
  padding-right: 4px;
}

.shopping-cart .item-options .show-all,
.shopping-cart .item-options dl {
  float: left;
  margin: 0;
}

.shopping-cart .item-options .show-all + dl,
.shopping-cart .item-options dl + dl {
  float: right;
}

.shopping-cart .item-options dt {
  color: #72818d;
  float: left;
  font-weight: normal;
  margin: 0 4px 0 0;
}

.shopping-cart .item-options dd {
  clear: right;
  color: #3d464d;
  float: left;
  font-weight: 600;
  margin: 0;
}

.shopping-cart .item-options a {
  color: #72818d;
}

.shopping-cart .item-options .price {
  color: #3d464d;
  font-size: 13px;
  font-weight: 600;
}

.shopping-cart .item-options .show-all {
  padding-right: 17px;
  position: relative;
}

.shopping-cart .item-options .show-all:after {
  content: "\e608";
  font-size: 8px;
  margin-top: -4px;
  position: absolute;
  right: 0;
  top: 50%;
}

.shopping-cart .item-options .show-all:focus {
  text-decoration: none;
}

.shopping-cart .active .show-all:before {
  content: "Hide";
}

.shopping-cart .active .show-all span {
  display: none;
}

.shopping-cart .active .show-all:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.shopping-cart .slide {
  float: left;
  margin-top: 10px;
  padding-left: 82px;
  width: 100%;
}

.shopping-cart .slide ul {
  margin-bottom: -11px;
}

.shopping-cart .slide ul li {
  border-top: 1px solid #edeff1 !important;
  padding: 7px 0 11px;
}

.shopping-cart .slide ul li:first-child {
  border-top: 1px solid #edeff1 !important;
  padding-top: 7px;
}

.shopping-cart .multiproducts .img-holder {
  position: relative;
}

.shopping-cart .multiproducts .img-holder img {
  float: left;
  padding: 0 0 1px 1px;
  width: 50%;
}

.shopping-cart .multiproducts .img-holder .more-items {
  background: rgba(255, 255, 255, .7);
  color: #343b40;
  font-weight: bold;
  height: 50%;
  left: 50%;
  line-height: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 50%;
  z-index: 2;
}

.shopping-cart .multiproducts .img-holder .more-items span {
  font-size: 11px;
  left: 50%;
  line-height: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* main navigation of the page */

.btn-menu {
  border: 1px solid #19191a;
  color: #231f20;
  display: none;
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  padding: 4px 5px;
  text-transform: uppercase;
}

.toggle-enabled {
  height: 65px;
  opacity: 0;
  -webkit-transition: visibility .25s, opacity .25s;
  transition: visibility .25s, opacity .25s;
  visibility: hidden;
}

.toggle-enabled.visible {
  opacity: 1;
  visibility: visible;
}

.main-menu {
  background: #242428;
  border-top: 1px solid #000;
  font-size: 16px;
  font-weight: bold; /* mega dropdown */
  position: relative;
  z-index: 9;
}

.main-menu ul {
  /* float: left; */
  margin-right: -17px;
}

.main-menu li {
  /* float: left; */
  /* margin: 0 17px 0 0; */
}

.main-menu li.hover > a {
  background: #38383b;
}

.main-menu li.hover .drop {
  opacity: 1;
  visibility: visible;
}

.main-menu li.divider {
  position: relative;
}

.main-menu li.divider:before {
  border-left: 1px solid #454548;
  content: "";
  height: 20px;
  left: 0;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}

.main-menu a {
  color: #fff;
  display: block;
  padding: 10px 19px 15px;
}

.main-menu a:hover {
  text-decoration: none;
}

.main-menu a:focus {
  text-decoration: none;
}

.main-menu .main-menu-drop-bg {
  background: rgba(255, 255, 255, .95);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  left: 0;
  position: absolute;
  top: 100%;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  width: 100%;
  z-index: 1;
}

.main-menu .drop {
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  visibility: hidden;
  width: 400px;
  width: 100%;
  z-index: 3;
}

.main-menu .drop .container-fluid {
  padding-bottom: 6px;
  padding-top: 15px;
}

.main-menu .drop .column {
  float: left;
  width: 20%;
}

.main-menu .drop .title {
  display: none;
  margin: 0 8px 10px;
}

.main-menu .drop li {
  float: none;
  padding: 0 0 20px;
}

.main-menu .drop li:hover > a {
  background: none;
}

.main-menu .drop a {
  background: none;
  color: #2980b9;
  display: inline;
  padding: 0;
}

.main-menu .drop a:hover {
  background: none;
  text-decoration: underline;
}

.main-menu .drop .img-holder {
  float: left;
  margin: 5px;
  padding-left: 5px;
  text-align: center;
  width: 66px;
}

.main-menu .drop .img-holder img {
  max-width: 100%;
  vertical-align: top;
}

.main-menu .drop .hold {
  overflow: hidden;
}

.main-menu .drop .hold ul {
  float: none;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
}

.main-menu .drop .hold ul li {
  padding: 0 0 3px;
}

.main-menu .drop .hold ul a {
  color: #5c646f;
}

.main-menu .heading {
  display: none;
  margin: 0 0 9px;
  overflow: hidden;
}

.main-menu .title {
  color: #858d97;
  display: none;
  font-size: 23px;
  font-weight: 300;
  margin: 0 0 10px;
}

.main-menu .user-panel {
  font-size: 16px;
  margin: 7px 0 0;
  text-align: right;
}

.main-menu .user-panel .signup-holder {
  display: none;
}

.main-menu .user-panel strong {
  color: #0fabd0;
  font-weight: normal;
}

.main-menu .user-panel a {
  color: #0fabd0;
  display: inline;
  padding: 0;
}

.main-menu .user-panel a:hover {
  text-decoration: underline;
}

.main-menu .user-panel span {
  color: #a9afb7;
}

.main-menu .btn-close {
  float: left;
  height: 15px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 15px;
}

.main-menu .btn-close:after,
.main-menu .btn-close:before {
  background: #242428;
  content: "";
  height: 17px;
  left: 50%;
  margin: -8px 0 0 -1px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 3px;
}

.main-menu .btn-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.main-menu .brand-nav {
  border-top: 1px solid #c9cfd6;
  display: none;
  padding: 19px 0 0;
}

.main-menu .brand-nav .title {
  margin: 0 0 7px;
}

.main-menu .brand-nav ul {
  /*border-top: 1px solid #c9cfd6;*/
  margin: 0 0 -1px;
  overflow: hidden;
}

.main-menu .brand-nav ul li {
/* border: 1px solid #c9cfd6;
border-width: 0 0 1px 1px;
float: left;
margin-left: -1px;
width: 50%;*/
display: inline-block;
vertical-align: top;
margin: 0 0 -1px -1px;
width: 33.33%;
font-size: 12px;
text-align: center;
border-bottom: 1px solid #edeff1;
}

.main-menu .brand-nav ul a {
  display: block;
  height: 45px;
  min-height: 70px !important;
  padding: 0;
  text-align: center;
}

.main-menu .back {
  border: 1px solid #c9cfd6;
  border-width: 1px 0;
  display: none;
  font-size: 18px;
  font-size: 18px;
  line-height: 20px;
  margin: -2px 0 19px;
}

.main-menu .back a {
  color: #858d97 !important;
  display: block;
  font-weight: 300 !important;
  padding: 15px 25px 15px !important;
  position: relative;
}

.main-menu .back a:after {
  color: #8d959e !important;
  content: "\e601" !important;
  font-size: 14px;
  font-weight: bold;
  left: 3px;
  margin-top: -10px !important;
  position: absolute;
  top: 50%;
}

.main-menu .back a:hover {
  color: #000 !important;
  text-decoration: none;
}

.main-menu .back a:hover:after {
  color: #000 !important;
}

.main-menu .parrent-link {
  border-top: 1px solid #c9cfd6;
  display: none;
  font-size: 18px;
}

.main-menu .parrent-link a {
  color: #3d464d;
  display: block;
  padding-bottom: 16px;
  padding-top: 16px;
}

/* footer styles */

/* footer styles */

.footer {
  background: #242428;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}

.footer .title {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 11px;
}

.footer a {
  color: #92979e;
}

.footer a:hover {
  color: #fff;
  text-decoration: none;
}

.footer .block {
  background: #19191c;
  border: none;
  color: #92979e;
  font-size: 13px;
  margin: 0;
  padding: 37px 0 27px;
}

.footer .block p {
  margin: 0;
}

.footer .block .title {
  font-size: 13px;
  margin: 0 0 6px;
}

.footer .logo {
  margin: 4px 0 15px;
}

.footer-links li {
  margin: 0 0 2px;
}

.footer-bar {
  padding: 45px 0 9px;
}

/* news subscribe */

.suscribe-form {
  margin: -7px 0 10px;
  max-width: 800px;
}

.suscribe-form .form-control {
  background: none;
  border: none;
  box-shadow: none;
  color: #aaadb0;
  height: 42px;
  padding: 9px 17px;
}

.suscribe-form .form-control::-webkit-input-placeholder {
  color: #aaadb0;
}

.suscribe-form .form-control::-moz-placeholder {
  color: #aaadb0;
  opacity: 1;
}

.suscribe-form .form-control:-moz-placeholder {
  color: #aaadb0;
}

.suscribe-form .form-control:-ms-input-placeholder {
  color: #aaadb0;
}

.suscribe-form .form-control.placeholder {
  color: #aaadb0;
}

.suscribe-form p {
  margin: 0 0 12px;
}

.suscribe-form fieldset {
  background: #3a3a3e;
  border-radius: 2px;
  padding: 0 100px 0 0;
  position: relative;
}

.suscribe-form button[type="submit"] {
  background: #333337;
  border: none;
  border-radius: 2px;
  color: #aaadb0;
  font-size: 13px;
  font-weight: normal;
  height: 42px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.suscribe-form button[type="submit"]:hover {
  color: #fff;
}

/* contacts info */

.contacts {
  font-size: 15px;
}

.contacts li {
  padding: 2px 0 19px;
}

.contacts a {
  display: inline-block;
  padding-left: 34px;
  position: relative;
}

.contacts a:before {
  border: 1px solid #92979e;
  border-radius: 50%;
  content: "";
  content: "\e60b";
  font-size: 14px;
  height: 28px;
  left: 0;
  line-height: 26px;
  margin-top: -12px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 28px;
}

.contacts a[href^="tel"] {
  font-weight: bold;
}

.contacts a[href^="mailto"]:before {
  content: "\e605";
  font-size: 16px;
}

/* footer navigation */

.footer-nav {
  border-top: 1px solid #333538;
  font-size: 13px;
  margin: 17px 0 0;
  padding: 12px 0 0;
}

.footer-nav > ul {
  padding: 15px 0 7px;
}

.footer-nav > ul > li > a {
  color: #fff;
}

.footer-nav > ul ul {
  padding: 6px 0 0;
}

.footer-nav > ul ul li {
  margin: 0 0 2px;
}

/* social networks */

.socials {
  padding: 6px 12px 10px 0;
}

.socials li {
  padding: 0 9px 5px 8px;
  vertical-align: top;
}

.socials a {
  border: 1px solid #a6a6a6;
  border-radius: 50%;
  display: block;
  font-size: 14px;
  height: 28px;
  line-height: 26px;
  overflow: hidden;
  text-align: center;
  width: 28px;
}

.socials a:hover {
  border-color: #fff;
}

.socials .icon-youtube {
  font-size: 17px;
}

.socials .icon-facebook {
  font-size: 16px;
}

.socials .icon-twitter {
  font-size: 12px;
}

/* footer mobile navigation */

.mobile-nav {
  border-top: 1px solid #333538;
  font-size: 16px;
  margin: 0 -10px 0 -11px;
  overflow: hidden;
}

.mobile-nav li {
  border: 1px solid #333538;
  border-width: 0 0 1px 1px;
  float: left;
  width: 50%;
}

.mobile-nav a {
  color: #fff;
  display: block;
  padding: 17px 10px;
}

/* main informative part styles */

/* account-menu */

.account-menu {
  background: #f8fafa;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 0 0 1px rgba(248, 248, 248, .8);
  font-size: 15px;
  font-weight: normal;
  padding: 17px 0;
  position: relative;
  z-index: 3;
}

.account-menu a:hover {
  text-decoration: none;
}

.account-menu .back-to {
  color: #1f2123;
  float: left;
  padding: 0 0 0 22px;
  position: relative;
}

.account-menu .back-to b {
  color: #3d464d;
}

.account-menu .back-to:hover {
  color: #737982;
}

.account-menu .back-to:before {
  content: "\e604";
  font-size: 6px;
  left: 0;
  line-height: 12px;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.account-menu .add-nav {
  float: right;
}

.account-menu .add-nav li {
  float: left;
  list-style: none;
  margin: 0 0 0 26px;
}

.account-menu .add-nav li.active a {
  color: #3d464d;
  font-weight: bold;
}

.account-menu .add-nav a {
  color: #737982;
  padding: 0;
}

.account-menu .add-nav a:hover {
  background: none;
  color: #3d464d;
}

.account-menu .breadcrumbs {
  color: #1f2123;
  float: left;
  font-size: 14px;
  padding: 5px 0;
}

.account-menu .breadcrumbs li {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.account-menu .breadcrumbs a {
  color: #1f2123;
}

.account-menu .breadcrumbs a:hover {
  color: #737982;
}

.account-menu .breadcrumbs li + li {
  margin-left: 8px;
  padding-left: 17px;
}

.account-menu .breadcrumbs li + li:before {
  color: #a9afb7;
  content: "\e604";
  font-size: 6px;
  left: 0;
  line-height: 12px;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.account-menu .search-form {
  border-color: #dddfe2;
  float: right;
  margin: -3px 20px -3px 0;
  width: 398px;
}

/* price */

.price {
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.price del {
  color: #92979e;
  font-size: 12px;
  font-weight: normal;
  margin-left: 6px;
}

/* loader */

.loader {
  padding: 30px 0 100px;
  text-align: center;
}

.loader img {
  vertical-align: top;
}

/* buttons */

.btn.btn-info,
.btn.btn-warning,
.btn.btn-primary {
  background: -webkit-linear-gradient(#00b9e5 0%, #00a7dd 100%);
  background: linear-gradient(#00b9e5 0%, #00a7dd 100%);
  border: 1px solid #0094c6;
  border-width: 0 0 3px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  padding: 11px 10px 10px;
}

.btn.btn-info:hover,
.btn.btn-warning:hover,
.btn.btn-primary:hover {
  opacity: .8;
}

.btn.btn-warning {
  background: -webkit-linear-gradient(#ff7900 0%, #ff6100 100%);
  background: linear-gradient(#ff7900 0%, #ff6100 100%);
  border-color: #e55600;
}

.btn.btn-info {
  background: -webkit-linear-gradient(#a4a6a9 0%, #8e9094 100%);
  background: linear-gradient(#a4a6a9 0%, #8e9094 100%);
  border-color: #86898c;
}

/* page position marks */

#wrapper {
  padding: 64px 0 0;
}

.header {
  box-shadow: 0 0 3px 1px #dfe7e9;
}

.account-menu {
  background: none;
  border: none;
  box-shadow: none;
}

/* brands-section */
/*
.brands-section h1 {
font-size: 36px;
margin: 17px 0 24px;
text-transform: uppercase;
}*/

.brands-section .intro-text {
  background: #fff;
  color: #92979e;
  font-size: 18px;
  margin: -17px 0 25px;
}

.brands-section hr {
  background: #edeff1;
  border: 0;
  color: #edeff1;
  display: block;
  height: 1px;
  margin: 0 0 38px;
}

.brands-section .heading {
  margin-bottom: 22px;
  margin-top: -18px;
}

.brands-section .heading .back-to {
  color: #3d464d;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0 0;
  padding: 0 0 0 22px;
  position: relative;
  vertical-align: top;
}

.brands-section .heading .back-to:hover {
  color: #737982;
  text-decoration: none;
}

.brands-section .heading .back-to:before {
  content: "\e604";
  font-size: 6px;
  left: 0;
  line-height: 12px;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.brands-section .heading h2 {
  color: #1f2123;
  font-size: 24px;
  margin: 0;
  text-transform: uppercase;
}

/* blogs-section */

.blogs {
  font-size: 16px;
  line-height: 26px;
  position: relative;
}

.blogs .back-to {
  color: #3d464d;
  font-size: 14px;
  font-weight: bold;
  left: 0;
  padding: 0 0 0 22px;
  position: absolute;
  top: 0;
}

.blogs .back-to:hover {
  color: #737982;
}

.blogs .back-to:before {
  content: "\e604";
  font-size: 6px;
  left: 0;
  line-height: 12px;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.blogs .img-holder {
  margin: 0 0 13px;
}

.blogs .img-holder img {
  vertical-align: top;
  width: 100%;
}

.blogs h2 {
  color: #1f2123;
  font-size: 24px;
  margin: 0 0 7px;
}

.blogs time {
  color: #92979e;
  display: block;
  font-size: 14px;
  overflow: hidden;
  padding: 1px 0 22px;
}

.blogs p {
  margin: 0;
}

.blogs .note {
  color: #92979e;
  display: block;
  font-size: 14px;
}

.blogs a {
  color: #0cbbe5;
}

.blogs .blog-details,
.blogs .item {
  border-bottom: 1px solid #edeff1;
  margin: 0 auto 46px;
  max-width: 824px;
  padding: 0 0 34px;
}

.blogs .blog-details {
  border: none;
}

.blogs .blog-details p {
  margin: 0 0 28px;
}

.blogs .blog-details p + .img-holder {
  margin: 54px 0 34px;
}

.blogs .share {
  float: right;
  margin: 0 0 10px 10px;
}

.blogs .share li {
  display: inline-block;
  padding: 0 0 4px 4px;
}

.sort-line {
  border: 1px solid #edeff1;
  border-width: 1px 0 2px;
  margin: 0 0 42px;
  padding: 4px 0;
}

.sort-line .form-group {
  float: left;
  margin: 0;
  padding: 7px 10px 5px 2px;
  width: 265px;
}

.sort-line .form-group + .form-group {
  border-left: 2px solid #edeff1;
  padding-left: 28px;
  width: 234px;
}

.sort-line .form-group label {
  color: #92979e;
  float: left;
  font-size: 18px;
  font-weight: normal;
  margin: 1px 18px 0 0;
}

.sort-line .form-group .select-holder {
  float: left;
}

.sort-line .form-group .jcf-select {
  border: none;
  margin: 0;
}

.sort-line .form-group .jcf-select .jcf-select-text {
  color: #1f2123;
  font-size: 16px;
  font-weight: bold;
  margin: 0 27px 0 0;
}

.sort-line .form-group .jcf-select .jcf-select-opener {
  text-align: right;
}

.sort-line .form-group .jcf-select .jcf-select-opener:before {
  color: #1f2123;
}

.month-set {
  margin: 0 0 -15px;
  overflow: hidden;
  text-align: justify;
}

.month-set:after {
  content: "";
  display: inline-block;
  font-size: 0;
  height: 0;
  line-height: 0;
  vertical-align: top;
  width: 100%;
}

.month-set li {
  display: inline-block;
  vertical-align: top;
}

.month-set input[type="checkbox"],
.month-set .jcf-radio {
  left: -99999px;
  position: absolute;
  top: 0;
}

.month-set .jcf-disabled + label {
  color: #cdd5dd;
  cursor: default;
}

.month-set label {
  color: #797f85;
  cursor: pointer;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 5px 7px 12px;
  position: relative;
}

.et-ar .month-set label {
  font-size: 17px;
  padding: 5px 1px 12px;
}

.month-set label.jcf-label-active {
  color: #1f2123;
  border-bottom: 3px solid #1f2123;

}

.month-set label.jcf-label-active:before {
  border-bottom: 3px solid #1f2123;
  bottom: -5px;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

/* share */

.share {
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  margin: 0 0 10px;
}

.share li {
  display: inline-block;
  padding: 0 2px 4px;
  vertical-align: top;
}

.share a {
  background: #4762b7;
  border-radius: 2px;
  color: #fff;
  display: block;
  padding: 7px 9px 6px 26px;
  position: relative;
}

.share a:before {
  font-size: 15px;
  left: 5px;
  line-height: 22px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}

.share a:hover {
  opacity: .8;
  text-decoration: none;
}

.share a.like:before {
  content: "\e610";
}

.share a.tweet {
  background: #55acee;
}

.share a.tweet:before {
  content: "\e60d";
  font-size: 13px;
}

.share a.gplus {
  background: #d0422a;
}

.share a.gplus:before {
  content: "\e613";
}

.share a.pin {
  background: #cb2027;
}

.share a.pin:before {
  content: "\e609";
}

.share a.instagram {
  background: #316699;
}

.share a.instagram:before {
  content: "\e607";
}

.share a.youtube {
  background: #ca3737;
}

.share a.youtube:before {
  content: "\e62a";
}

/* custom form elements */

/* ---------------------------------------------------------
Custom form styles
---------------------------------------------------------*/

/* custom checkbox styles */

.jcf-checkbox {
  background: -webkit-linear-gradient(#fff 0%, #fff 44%, #ececec 52%, #f2f2f2 100%);
  background: linear-gradient(#fff 0%, #fff 44%, #ececec 52%, #f2f2f2 100%);
  border: 1px solid #989898;
  border-radius: 3px;
  cursor: default;
  display: inline-block;
  height: 12px;
  margin: 0 7px 0 0;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 12px;
}

.jcf-checkbox span {
  border: 2px solid #0fabd0;
  border-width: 0 0 2px 2px;
  display: none;
  height: 4px;
  left: 50%;
  margin: -3px 0 0 -4px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 9px;
}

.jcf-checkbox input[type="checkbox"] {
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.jcf-checkbox.jcf-checked span {
  display: block;
}

:root .jcf-checkbox span {
  margin: -3px 0 0 -4px;
}

/* custom radio styles */

.jcf-radio {
  background: #fff;
  border: 1px solid #777;
  border-radius: 9px;
  cursor: default;
  display: inline-block;
  height: 16px;
  margin: 0 3px 0 0;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 16px;
}

.jcf-radio input[type="radio"] {
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.jcf-radio span {
  background: #777;
  border-radius: 100%;
  bottom: 3px;
  display: none;
  left: 3px;
  position: absolute;
  right: 3px;
  top: 3px;
}

.jcf-radio.jcf-checked span {
  display: block;
}

/* custom select styles */

.jcf-select {
  border: 1px solid #dddfe2;
  border-radius: 2px;
  display: block;
  height: 28px;
  position: relative;
  width: 100%;
}

.jcf-select select {
  left: 0;
  top: 0;
  z-index: 1;
}

.jcf-select .jcf-select-text {
  cursor: default;
  display: block;
  font-size: 13px;
  line-height: 26px;
  margin: 0 35px 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jcf-select .jcf-select-opener {
  bottom: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 26px;
}

.jcf-select .jcf-select-opener:before {
  color: #849191;
  content: "\e604";
  font-size: 6px;
  line-height: 26px;
}

.jcf-select .jcf-select-drop {
  left: -1px;
  margin-top: 0;
  position: absolute;
  right: -1px;
  top: 100%;
  z-index: 9999;
}

.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

body > .jcf-select-drop {
  margin: -1px 0 0;
  position: absolute;
  z-index: 9999;
}

body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}

/* multiple select styles */

.jcf-list-box {
  border: 1px solid #b8c3c9;
  display: inline-block;
  margin: 0 15px;
  min-width: 200px;
  overflow: hidden;
}

/* select options styles */

.jcf-list {
  background: #fff;
  border: 1px solid #dddfe2;
  border-radius: 2px;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  margin: 2px 0;
  position: relative;
  vertical-align: top;
  width: 115px;
}

.jcf-list .jcf-list-content {
  display: inline-block;
  overflow: auto;
  vertical-align: top;
  width: 114px;
}

.jcf-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcf-list li {
  display: block;
  overflow: hidden;
}

.jcf-list .jcf-overflow {
  overflow: auto;
}

.jcf-list .jcf-option {
  color: #656565;
  cursor: pointer;
  display: block;
  height: 1%;
  overflow: hidden;
  padding: 10px 9px;
}

.jcf-list .jcf-option:hover {
  background: #e6e6e6;
  color: #000;
}

.jcf-list .jcf-disabled {
  background: #fff !important;
  color: #aaa !important;
}

.jcf-list .jcf-hover,
.jcf-list .jcf-selected {
  background: #e6e6e6;
  color: #000;
}

.jcf-list .jcf-optgroup-caption {
  color: #000;
  display: block;
  font-weight: bold;
  padding: 5px 9px;
  white-space: nowrap;
}

.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}

/* common custom form elements styles */

.jcf-disabled {
  background: #ddd !important;
}

/* custom range input styles */

.jcf-range {
  display: block;
  font-size: 0;
  line-height: 0;
  position: relative;
  width: 100%;
}

.jcf-range .jcf-range-track {
  display: block;
  height: 3px;
  padding: 0 8px;
  position: relative;
}

.jcf-range-display-wrapper {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.jcf-range .jcf-range-wrapper {
  background: #b6b6b5;
  border-radius: 5px;
  display: block;
  height: 3px;
  margin: 20px 0 16px;
  position: relative;
}

.jcf-range.jcf-vertical {
  width: auto;
}

.jcf-range.jcf-vertical .jcf-range-wrapper {
  height: auto;
  margin: 0;
  padding: 20px 0 0;
  width: 10px;
}

.jcf-range.jcf-vertical .jcf-range-track {
  height: 180px;
  width: 10px;
}

.jcf-range.jcf-vertical .jcf-range-handle {
  left: -5px;
  top: auto;
}

.jcf-range .jcf-range-handle {
  display: block;
  height: 0;
  position: relative;
  width: 1px;
}

.jcf-range .jcf-range-handle:before {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  content: "";
  cursor: pointer;
  height: 20px;
  left: 50%;
  margin: -9px 0 0 -10px;
  position: absolute;
  top: 0;
  width: 20px;
  z-index: 1;
}

.jcf-range .jcf-range-display {
  background: #1fa0f6;
  height: 3px;
  position: absolute;
}

.jcf-range .jcf-range-mark {
  background: #000;
  display: none;
  height: 3px;
  margin: 0 0 0 9px;
  overflow: hidden;
  position: absolute;
  top: -7px;
  visibility: hidden;
  width: 1px;
}

.jcf-range.jcf-vertical .jcf-range-mark {
  height: 1px;
  left: 14px;
  margin: 0 0 9px;
  top: auto;
  width: 3px;
}

.jcf-range.jcf-disabled {
  background: none !important;
  opacity: .3;
}

/* custom number input styles */

.jcf-number {
  border: 1px solid #dddfe2;
  border-radius: 2px;
  box-shadow: inset 1px 2px 0 0 #f5f5f5;
  display: block;
  height: 39px;
  position: relative;
  width: 156px;
}

.jcf-number input {
  -moz-appearance: textfield;
}

.jcf-number input::-webkit-inner-spin-button,
.jcf-number input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.jcf-number input {
  background: none;
  border: none;
  color: #3d464d;
  font-size: 12px;
  font-weight: bold;
  height: 100%;
  margin: 0;
  outline: none;
  padding: 8px 15px 8px;
  text-align: center;
  width: 78px;
}

.jcf-number .jcf-btn-dec,
.jcf-number .jcf-btn-inc {
  background: #fff;
  border-left: 1px solid #dddfe2;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 39px;
}

.jcf-number .jcf-btn-dec {
  right: 39px;
}

.jcf-number .jcf-btn-dec:hover,
.jcf-number .jcf-btn-inc:hover {
  background: #f5f5f5;
}

.jcf-number.jcf-disabled .jcf-btn-dec:hover,
.jcf-number.jcf-disabled .jcf-btn-inc:hover {
  background: #aaa;
}

.jcf-number .jcf-btn-dec:before,
.jcf-number .jcf-btn-inc:before {
  background: #00b9e5;
  content: "";
  height: 2px;
  left: 50%;
  margin: -1px 0 0 -5px;
  position: absolute;
  top: 50%;
  width: 10px;
}

.jcf-number .jcf-btn-inc:after {
  background: #00b9e5;
  content: "";
  height: 10px;
  left: 50%;
  margin: -5px 0 0 -1px;
  position: absolute;
  top: 50%;
  width: 2px;
}

/* custom scrollbars styles */

.jcf-scrollable-wrapper {
  box-sizing: content-box;
  position: relative;
}

.jcf-scrollbar-vertical {
  background: rgba(0, 0, 0, .1);
  border-radius: 4px;
  bottom: 0;
  cursor: default;
  position: absolute;
  right: 0;
  top: 0;
  width: 6px;
}

.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
  background: #bbb;
  height: 0;
  left: 0;
  top: 0;
  width: 6px;
}

.jcf-scrollbar-vertical .jcf-scrollbar-inc {
  bottom: 0;
  top: auto;
}

.jcf-scrollbar-vertical .jcf-scrollbar-handle {
  background: rgba(61, 70, 77, .3);
  border-radius: 4px;
  height: 1px;
  width: 6px;
}

.jcf-scrollbar-horizontal {
  background: #e3e3e3;
  bottom: 0;
  height: 6px;
  left: 0;
  position: absolute;
  right: auto;
  top: auto;
  width: 1px;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-dec,
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
  background: #bbb;
  display: inline-block;
  height: 0;
  overflow: hidden;
  vertical-align: top;
  width: 0;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
  left: auto;
  right: 0;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
  display: inline-block;
  height: 6px;
  position: relative;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
  background: #888;
  height: 6px;
  position: absolute;
}

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
  visibility: hidden;
}

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-dec,
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-inc {
  background: #e3e3e3;
}

@media only screen and (min-width: 768px) {
  .main-menu.js-slide-hidden {
    left: auto !important;
    position: relative !important;
    top: auto !important;
  }


}

@media only screen and (max-width: 1256px) {
  .main-menu ul {
    margin-right: -10px;
  }

  .main-menu li {
    margin-right: 10px;
  }

  .main-menu a {
    padding: 10px 10px 15px;
  }
}

@media only screen and (max-width: 1240px) {
  .top-bar .logo-bar {
    width: 57%;
  }
}

@media only screen and (max-width: 1100px) {
  .blogs .back-to {
    display: inline-block;
    margin: 0 0 10px;
    position: relative;
  }
}

@media only screen and (max-width: 1090px) {
  .month-set label {
    font-size: 14px;
    padding: 7px 14px 12px;
  }
}

@media only screen and (max-width: 1023px) {
  #wrapper {
    padding: 133px 0 0;
  }

  .top-bar .logo-bar {
    float: none;
    position: relative;
    width: 100%;
    z-index: 5;
  }

  .top-bar .logo + .search-form {
    max-width: none;
  }

  .user-bar {
    float: none;
    margin-top: -5px;
    padding: 0 0 8px;
    position: relative;
    text-align: right;
    z-index: 11;
  }

  .user-bar .cart,
  .user-bar .phone,
  .user-bar .country-set,
  .user-bar .account-actions {
    display: inline-block;
    float: none;
    text-align: left;
    vertical-align: top;
  }

  .main-menu {
    font-size: 15px;
  }

  .main-menu ul {
    margin-right: -1px;
  }

  .main-menu li {
    margin-right: 1px;
  }

  .main-menu a {
    padding: 10px 5px 15px;
  }

  .socials {
    padding: 6px 0 10px;
  }

  .socials li {
    padding: 0 4px 5px;
  }

  .account-menu .add-nav li {
    margin-left: 8px;
  }

  #wrapper {
    padding: 88px 0 0;
  }

  .sort-line .form-group {
    width: 50%;
  }

  .sort-line .form-group label {
    font-size: 16px;
    margin: 3px 8px 0 0;
  }

  .sort-line .form-group + .form-group {
    padding-left: 15px;
    width: 50%;
  }

  .month-set {
    float: left;
    width: 100%;
  }

  .share li {
    display: block;
    padding: 0 0 3px;
  }

  .share li a {
    text-align: left;
  }
}

@media only screen and (max-width: 767px) {
  #wrapper {
    padding: 106px 0 0;
  }

  .block {
    margin: 0 -10px 23px;
    padding: 0 10px;
  }

  .header {
    position: absolute;
  }

  .top-bar {
    padding: 0;
  }

  .top-bar .container-fluid {
    padding: 0;
  }

  .top-bar .logo-bar {
    height: 106px;
    padding: 13px 9px 57px;
    text-align: center;
  }

  .top-bar .logo-bar:after {
    background: #19191a;
    bottom: 0;
    content: "";
    height: 57px;
    left: 0;
    position: absolute;
    right: 0;
  }

  .top-bar .logo {
    display: inline-block;
    float: none;
    margin: 0 0 0 0px;
    vertical-align: top;
    width: auto;

  }

  .brand-set {
    display: none !important;
  }

  .search-form {
    bottom: 8px;
    left: 9px;
    overflow: visible;
    padding-right: 40px;
    position: absolute;
    right: 9px;
    z-index: 1;
  }

  .search-form .form-control {
    color: #bdc3c7;
    font-size: 14px;
    height: 38px;
  }

  .search-form .form-control::-webkit-input-placeholder {
    color: #bdc3c7;
  }

  .search-form .form-control::-moz-placeholder {
    color: #bdc3c7;
    opacity: 1;
  }

  .search-form .form-control:-moz-placeholder {
    color: #bdc3c7;
  }

  .search-form .form-control:-ms-input-placeholder {
    color: #bdc3c7;
  }

  .search-form .form-control.placeholder {
    color: #bdc3c7;
  }

  .search-form button[type="submit"] {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    width: 30px;
  }

  .user-bar {
    margin: 0;
    padding: 0;
  }

  .user-bar .phone,
  .user-bar .country-set,
  .user-bar .account-actions {
    display: none;
  }

  .cart {
    padding: 0;
    position: absolute;
    right: 0;
    top: 10px;
    width: auto;
  }

  .cart:after {
    display: none;
  }

  .cart .opener {
    margin: 0 10px 0 0;
    padding: 2px 0 0;
    width: 24px;
  }

  .cart .opener:before {
    color: #000;
    content: "\e602";
    font-size: 20px;
  }

  .cart .opener span {
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    right: 0;
    top: -2px;
    width: 16px;
  }

  .cart .drop {
    top: 39px;
    width: 320px;
  }

  .btn-menu {
    display: block;
  }

  .main-menu .main-menu-drop-bg {
    display: none;
  }

  .main-menu {
    background: rgba(255, 255, 255, .99);
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    font-size: 18px;
    font-weight: normal;
    opacity: 0;
    overflow: hidden;
    padding: 10px 24px 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity .5s, visibility .5s;
    transition: opacity .5s, visibility .5s; /* mega dropdown */
    visibility: hidden;
    width: 100%;
    z-index: 50;
  }

  .menu-visible .main-menu {
    opacity: 1;
    visibility: visible;
  }

  .main-menu ul {
    float: none;
    margin-right: 0;
  }

  .main-menu li {
    /*border-top: 1px solid #c9cfd6;*/
    float: none;
    margin: 0;
  }

  .main-menu li.hover a {
    background: none;
    color: #3d464d;
  }

  .main-menu .woman > a,
  .main-menu .men > a,
  .main-menu .kids > a,
  .main-menu .beauty > a,
  .main-menu .shoes > a,
  .main-menu .electronics > a,
  .main-menu .sports > a,
  .main-menu .home > a {
    padding-left: 49px;
    position: relative;
  }

  .main-menu .woman > a:before,
  .main-menu .men > a:before,
  .main-menu .kids > a:before,
  .main-menu .beauty > a:before,
  .main-menu .shoes > a:before,
  .main-menu .electronics > a:before,
  .main-menu .sports > a:before,
  .main-menu .home > a:before {
    bottom: 1px;
    content: "";
    height: 50px;
    left: 1px;
    position: absolute;
    width: 37px;
  }

  .main-menu .woman > a:after,
  .main-menu .men > a:after,
  .main-menu .kids > a:after,
  .main-menu .beauty > a:after,
  .main-menu .shoes > a:after,
  .main-menu .electronics > a:after,
  .main-menu .sports > a:after,
  .main-menu .home > a:after {
    color: #c9cfd6;
    content: "\e600";
    font-size: 14px;
    font-weight: bold;
    margin-top: -8px;
    position: absolute;
    right: 1px;
    top: 50%;
  }

  .main-menu .woman > a:before {
    background: url(../images/ico-woman.jpg) no-repeat;
  }

  .main-menu .men > a:before {
    background: url(../images/ico-men.jpg) no-repeat;
  }

  .main-menu .kids > a:before {
    background: url(../images/ico-kids.jpg) no-repeat;
  }

  .main-menu .beauty > a:before {
    background: url(../images/ico-beauty.jpg) no-repeat;
  }

  .main-menu .shoes > a:before {
    background: url(../images/ico-shoes.jpg) no-repeat;
  }

  .main-menu .electronics > a:before {
    background: url(../images/ico-electronics.jpg) no-repeat;
  }

  .main-menu .sports > a:before {
    background: url(../images/ico-sports.jpg) no-repeat;
  }

  .main-menu .home > a:before {
    background: url(../images/ico-home.jpg) no-repeat;
  }

  .main-menu a {
    color: #3d464d;
    padding: 16px 5px;
  }

  .main-menu a:hover {
    color: #000;
    text-decoration: none !important;
  }

  .main-menu .container-fluid {
    overflow: hidden;
    padding: 0;
  }

  .main-menu .nav-wrap {
    left: 0;
    position: relative;
    -webkit-transition: left .6s ease;
    transition: left .6s ease;
  }

  .sub-visible .main-menu .nav-wrap {
    left: -100%;
  }

  .drop-visible .main-menu .nav-wrap {
    left: -200%;
  }

  .main-menu .active-item .drop {
    visibility: visible;
  }

  .main-menu .drop {
    background: none;
    box-shadow: none;
    font-size: 18px;
    left: 100%;
    max-height: none;
    opacity: 1;
    overflow: visible;
    padding: 0;
    top: 0;
    -webkit-transition: all 0 ease;
    transition: all 0 ease;
    visibility: hidden;
  }

  .main-menu .drop .row {
    margin: 0;
  }

  .main-menu .drop .container-fluid {
    overflow: visible;
    padding-bottom: 0;
    padding-top: 0;
  }

  .main-menu .drop .title {
    display: block;
  }

  .main-menu .drop .column {
    float: none;
    width: 100%;
  }

  .main-menu .drop li {
    padding: 0;
    position: static;
  }

  .main-menu .drop .parrent-link a {
    padding-left: 50px;
  }

  .main-menu .drop .img-holder {
    float: none;
    float: left;
    height: 54px;
    line-height: 54px;
    margin: 0;
    padding: 0;
    width: 50px;
  }

  .main-menu .drop .img-holder img {
    height: auto;
    max-height: 39px;
    max-width: 30px;
    vertical-align: middle;
    width: auto;
  }

  .main-menu .drop a {
    color: #3d464d;
    display: block;
    font-weight: normal;
    padding: 16px 20px;
  }

  .main-menu .drop .has-drop > a:after,
  .main-menu .drop .has-drop > .hold > strong > a:after,
  .main-menu .drop .back > a:after {
    color: #c9cfd6;
    content: "\e600";
    font-size: 14px;
    font-weight: bold;
    margin-top: 3px;
    position: absolute;
    right: 1px;
  }

  .main-menu .drop .back > a:after {
    margin-top: -8px;
    top: 50%;
  }

  .main-menu .drop li.active-item .hold ul {
    visibility: visible;
  }

  .main-menu .drop .hold {
    display: block;
    overflow: visible;
  }

  .main-menu .drop .hold ul {
    font-size: 18px;
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
  }

  .main-menu .drop .hold ul strong {
    display: block;
  }

  .main-menu .drop .hold ul strong a {
    padding: 16px 40px;
  }

  .main-menu .drop .hold ul li {
    padding: 0;
  }

  .main-menu .drop .hold ul li.back {
    border-width: 1px 0 0;
    margin: 0;
  }

  .main-menu .drop .hold ul li.back a {
    padding-left: 25px;
  }

  .main-menu .drop .hold ul li.back a:after {
    content: "\e601";
    display: block;
    margin-top: -10px;
  }

  .main-menu .drop .hold ul li .title {
    display: block;
    margin: 0;
    padding: 16px 10px;
  }

  .main-menu .drop .hold ul a {
    padding-left: 50px;
  }

  .main-menu .drop .hold ul a:after {
    display: none;
  }

  .main-menu .back {
    position: relative;
  }

  .main-menu .parrent-link,
  .main-menu .back,
  .main-menu .brand-nav,
  .main-menu .title,
  .main-menu .heading {
    display: block;
  }

  .footer .block {
    margin: 62px 0 0;
    padding: 23px 0;
    position: relative;
  }

  .footer .logo {
    float: left;
    margin: 8px 0 0;
    width: 100px;
  }

  .footer .text-holder {
    float: right;
    font-size: 12px;
    line-height: 18px;
    width: 190px;
  }

  .footer .socials-column {
    position: static;
  }

  .footer .socials {
    bottom: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center !important;
  }

  .footer .title {
    margin: 0 0 9px;
  }

  .footer-bar {
    padding: 19px 0 9px;
  }

  .suscribe-form {
    margin: 0 0 26px;
  }

  .suscribe-form p {
    margin: 0 0 14px;
  }

  .suscribe-form button[type="submit"] {
    width: 95px;
  }

  .socials li {
    margin: 0 5px 5px;
  }

  .socials a {
    border: 2px solid #626467;
    color: #a6a6a6;
    font-size: 18px;
    height: 36px;
    line-height: 32px;
    width: 36px;
  }

  .socials a .icon-youtube {
    font-size: 22px;
  }

  .socials a .icon-facebook {
    font-size: 22px;
  }

  .socials a .icon-twitter {
    font-size: 16px;
  }

  .loader {
    padding: 10px 0 30px;
  }

  #wrapper {
    padding: 106px 0 0;
  }

  .account-menu {
    display: block !important;
    font-size: 14px;
    padding: 15px 0;
  }

  .account-menu .add-nav {
    display: none;
  }

  .brand-set.selected {
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0 0 0 10px;
    vertical-align: top;
  }

  .brand-set.selected:before {
    height: 22px;
    top: 0;
  }

  .brand-set.selected .opener {
    padding: 0;
  }

  .brand-set.selected .opener img {
    height: 22px;
    width: auto;
  }

  .brand-set.selected .opener:after {
    display: none;
  }

  .brands-section h1 {
    border-bottom: 1px solid #edeff1;
    font-size: 23px;
    margin: 6px 0 9px;
    padding: 0 0 6px;
    text-transform: uppercase;
  }

  .brands-section .intro-text {
    font-size: 14px;
    margin: -14px 0 17px;
  }

  .brands-section hr {
    margin: -5px 0 9px;
  }

  .blogs {
    font-size: 13px;
    line-height: 18px;
  }

  .blogs .img-holder {
    /*margin: 0 -29px 6px;*/
  }

  .blogs .back-to {
    display: none;
  }

  .blogs .blog-details {
    border: none;
    font-size: 14px;
    line-height: 23px;
  }

  .blogs .blog-details h2 {
    font-size: 26px;
    line-height: 31px;
    margin: 15px 0 7px;
  }

  .blogs .blog-details time {
    padding: 0 0 8px;
  }

  .blogs .blog-details p {
    margin: 0 0 26px;
  }

  .blogs .blog-details p + .img-holder {
    margin: -12px -29px 11px;
  }

  .blogs .note {
    font-size: 12px;
  }

  .blogs .item {
    margin: 0 -15px 17px;
    padding: 0 15px 12px;
  }

  .blogs h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 12px;
  }

  .blogs time {
    font-size: 12px;
    padding: 1px 0 12px;
  }

  .blogs .share {
    margin: 0 0 4px 10px;
  }

  .blogs .share a {
    padding: 5px 8px 5px 24px;
  }

  .blogs .share a:before {
    font-size: 13px;
  }

  .blogs .share a.tweet:before {
    font-size: 11px;
  }

  .sort-line {
    border: none;
    margin: 0 -3px 14px;
    padding: 0;
    position: relative;
  }

  .sort-line .form-group {
    border: none !important;
    float: left;
    padding: 0 3px !important;
    position: relative;
    width: 50% !important; /* changed */
    z-index: 2;
  }

  .sort-line .form-group label {
    display: block;
    float: none;
    font-size: 14px;
    margin: 0 0 5px;
  }

  .sort-line .form-group .select-holder {
    float: none;
  }

  .sort-line .form-group .jcf-select {
    background: none;
    border: 1px solid #d9dee2;
    height: 39px;
  }

  .sort-line .form-group .jcf-select .jcf-select-text {
    font-size: 13px;
    line-height: 38px;
    margin: 0 35px 0 10px;
  }

  .sort-line .form-group .jcf-select .jcf-select-opener {
    text-align: center;
    top: 6px;
    width: 32px;
  }

  .month-set {
    margin: 0;
  }

  .month-set:after {
    display: none;
  }

  /* Disabled for Mobile */
/*    .month-set label {
bottom: 24px;
color: #19191a;
display: none;
font-size: 13px;
font-weight: bold;
left: 50%;
margin: 0 0 0 48px;
padding: 0;
position: absolute;
z-index: 1;
}
*/
/*    .month-set label.jcf-label-active {
display: block;
}*/

#edit-blog-month {
  padding: 0; /* Added for Mobile  */
}
.month-set label.jcf-label-active:before {
  border: none;
  /*content: "- ";*/
  position: static;
  width: auto;
}

.jcf-number {
  height: 45px;
  padding-right: 60%;
}

.jcf-number .jcf-btn-dec,
.jcf-number .jcf-btn-inc {
  width: 30.5%;
}

.jcf-number .jcf-btn-dec {
  right: 30.5%;
}

.jcf-number input {
  font-size: 16px;
  height: 43px;
  width: 100%;
}
/* Added*/
#edit-blog-month .form-item-blog-month {
  padding: 0px;
}



/*Added by SHishir*/

/* .brand-menu#add-navigation {
overflow: auto;
padding: 16px 0;
width: 100%;
display: block !important;
font-size: 14px;
} */
.brand-menu .add-nav {
  display: block !important;
  float: none !important;
  font-size: 14px;
  white-space: nowrap;
  min-width: 750px;
  width: 761px;
}
.brand-menu .add-nav li {
  white-space: nowrap;
  display: inline;
}

}


.subscribe-form {
  margin: 0 0 26px;
  max-width: 800px;
}

.subscribe-form fieldset {
  position: relative;
  border-radius: 2px 0 0 2px;
  /*padding-right: 100px;*/
}

.subscribe-form .form-control {
  background: none;
  border: 0;
  color: #aaadb0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 42px;
  padding: 9px 17px;
}

.footer fieldset input {
  background: #3a3a3e !important;
}

.subscribe-form button[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  width: 95px;
  height: 42px;
  border: 0;
  border-radius: 0 2px 2px 0;
  background: #333;
  color: #aaadb0;
  font-size: 13px;
  font-weight: normal;
}

.footer .logo img {
  max-width: 125px;
}

@media (min-width: 768px) {
  .subscribe-form {
    margin: -7px 0 10px;
  }

  .subscribe-form fieldset {
    /*padding-right: 105px;*/
  }

  .subscribe-form button[type="submit"]:hover {
    color: #fff;
  }

  .subscribe-form button[type="submit"] {
    width: 100px;
  }
}



@media (min-width: 768px){
  .brand-set a[href*="homecentre"] img {
    width: 170px;
  }
}


@media (min-width: 768px){
  .brand-set a[href*="splash"] img {
    width: 93px;
  }
}

@media (min-width: 768px){
  .brand-set a[href*="max"] img {
    width: 75px;
  }
}

@media (min-width: 768px){
  .brand-set a[href*="babyshop"] img {
    width: 121px;
  }
}

@media (min-width: 768px){
  .brand-set a[href*="lifestyle"] img {
    width: 110px;
  }
}

@media (min-width: 768px){
  .brand-set a[href*="shoemart"] img {
    width: 138px;
  }
}

@media (min-width: 768px){
  .brand-set a[href*="centrepoint"] img {
    margin-top: -14px;
    width: 148px;
    }}

    .brand-set img {
      max-width: 85%;
      width: 75px;
    }


    .siteLogo{

      position: relative;
      width: 100px;
      display: inline-block;
      vertical-align: middle;
    }
    .conceptLogo{
      margin-left: 25px;

    }
    .logo img[src*="babyshop"], .logo img[srcset*="babyshop"] {
      width: 97px;
      height: 20px;
    }
    .logo img[src*="homecentre"], .logo img[srcset*="homecentre"] {
      width: auto;

    }
    .logo img[src*="splash"], .logo img[srcset*="splash"] {
/*width: 59px;
height: 23px;*/
height: auto;
}
.logo img[src*="max"], .logo img[srcset*="max"] {
  width: 63px;
  height: 23px;
}
.logo img[src*="lifestyle"], .logo img[srcset*="lifestyle"] {
  width: 75px;
  height: 25px;
}
.logo img[src*="shoemart"], .logo img[srcset*="shoemart"] {
  width: 110px;
  height: 17px;
}
.logo img[src*="centrepoint"], .logo img[srcset*="centrepoint"] {
  width: 102px;
  height: 31px;
}
.top-bar .brand-set::not(.selected) {
  display: inline-block;
}
.logo .siteLogo::after {
  content: ' /';
  position: absolute;
  right: -20px;
  top: -8px;
  color: #322e2f;
  font-size: 30px;
  font-weight: 300;
}
*:before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#page-header .brand-set-block h2::before, #page-header .brand-set-block h2:after, #page-header .brand-set-block .opener::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  border: 0 solid #fff;
}
#page-header .brand-set-block h2::after {
  left: 4px;
  top: 0;
  height: 16px;
  width: 8px;
  border-width: 0 2px;
}
#page-header .brand-set .open.brand-set-block .opener::before {
  background: #231f20;
}
#page-header .brand-set-block .opener::before {
  top: 0;
  height: 16px;
  width: 16px;
  background: #919497;
}
#page-header .brand-set-block h2::before {
  height: 8px;
  width: 16px;
  border-width: 2px 0;
}


#page-header .brand-set .open.brand-set-block h2 {
  color: #231f20;
}
.header .container-fluid {
  position: relative;
  padding: 0;
}
.brand-set .container-fluid {
  padding: 0;
}
#page-header .logo img {
  /*  max-width: 113px; */
}
#page-header .brand-set-block h2 {
  margin: 0;
  color: #919497;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-transform: none;
}
/* #page-header .brand-set-block {
padding-top: 10px;
} */
.top-bar .brand-set::not(.selected) {
  display: inline-block;
}
/*.top-bar .brand-set:not(.selected), .top-bar .brand-set ul {
display: none;
}*/
#page-header .brand-set-block .opener {
  cursor: pointer;
  padding-left: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
/* width: 110px;
height: 16px; */
}

.brand-set-block h2 {
  font-size: 20px;
  font-weight: 400;
}
.brand-set-block h2 {
  margin: 0 0 14px;
  color: #1f2123;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.container-fluid:after, .account-section .box .chk-list li:after, .shopping-basket .col-price dl:after, .shopping-basket .col-qty:after, .shopping-basket .multiproducts:after, .shopping-range .range-form:after, .checkout-section .heading:after, .chk-list li:after, .sort-line:after, .orderSummary .payment .rewards dl:after, .thx-section .content-area:after, .schedule-setup:after, .page-orderpage .placed-form:after, .page-returnspage .block-heading:after, .account-section.rewards .box:after, .account-section.rewards .box .chk-list li:after, .shopping-basket .title-row:after, .shopping-basket .slide.slide [class*='col-']:after {
  content: " ";
  display: block;
  clear: both;

}

/* .brand-set .drop {
border: 0 solid #edeff1;
border-width: 1px 0;
} */

#page-header .brand-set .drop {
  display: block;
  overflow: hidden;
  position: absolute;
  right: -68px;
  -webkit-transition: max-height 0.15s linear;
  -o-transition: max-height 0.15s linear;
  transition: max-height 0.15s linear;
}
/* #page-header .brand-set .drop {
top: 65px;
} */
#page-header .brand-set .open .drop {
/* border-width: 1px 0;
-webkit-box-shadow: 0 3px 3px -2px #dbe0e1;
box-shadow: 0 3px 3px -2px #dbe0e1; */
max-height: 400px;
opacity: 1;
}
.brand-set-list {
  overflow: hidden;
  font-size: 0;
  letter-spacing: -4px;
}
/* #page-header .brand-set-list {
display: block;
position: static;
padding: 0;
background: 0;
-webkit-box-shadow: none;
box-shadow: none;
text-align: left;
} */
.brand-set-list li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 -1px -1px;
  /*  width: 33.33%; */
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid #edeff1;
}
/* .brand-set-list li {
width: 25%;
} */
.brand-set ul a {
  color: #666;
}
.brand-set-list a {
  display: block;
  margin: 10px 0 !important;
  /* height: 45px; */
  border-left: 1px solid #edeff1;
  letter-spacing: 0;
}
.brand-set-list a {
  height: auto;
  min-height: 72px;
}
#page-header .brand-set-list a, .i18n-ae #page-header .brand-set-list strong {
  padding: 0;
}

.brand-set-list a {
  display: block;
  margin: 10px 0 !important;
  /*  height: 45px; */
  border-left: 1px solid #edeff1;
  letter-spacing: 0;
  min-height: 55px;
}

.brand-set-logo {
  display: block;
  color: #080808;
  font-size: 15px;
  line-height: 45px;
}
.brand-set-logo {
  font-size: 18px;
  /*line-height: 75px !important;*/
}
.brand-set-list strong {
  display: block;
  margin-top: -13px;
  font-weight: normal;
}
.brand-set-logo {
  display: block;
  color: #080808;
  font-size: 15px;
  line-height: 75px;
}
/*blog Top menu css*/
.brand-menu {
  background: none;
  font-weight: normal;
  font-size: 15px;
  padding: 17px 0;
  border-bottom: 0;
  box-shadow: none;
  position: relative;
  z-index: 3;
}
.brand-menu {
  padding: 17px 0 15px;
  font-size: 15px;
}
.brand-menu .back-to::before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  content: "\e604";
  font-size: 6px;
  position: absolute;
  left: 0;
  top: 50%;
  line-height: 12px;
  margin-top: -6px;
}
.brand-menu .back-to::before {
  content: "\e601";
  font-size: 15px;
  font-weight: bold;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.brand-menu .back-to {
  float: left;
  color: #8b8b8b;
  padding: 0 0 0 22px;
  position: relative;
}

.brand-menu .add-nav {
  display: block;
  float: right;
  margin: 0;
  list-style: none;
}
.brand-menu .add-nav li {
  list-style: none;
  float: left;
  margin: 0 0 0 26px;
}
.brand-menu .add-nav li {
  display: inline;
}

.brand-menu .add-nav a {
  padding: 0;
  color: #737982;
}

.brand-menu .back-to::before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  content: "<";
  font-size: 6px;
  position: absolute;
  left: 0;
  top: 50%;
  line-height: 12px;
  margin-top: -6px;
}

.brand-menu .back-to::before {
  content: "<";
  font-size: 15px;
  font-weight: bold;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.brand-menu .add-nav a {
  padding: 0;
  color: #737982;
}
.brand-menu a:hover {
  color: #1f2123;
  text-decoration: none;
}
.brand-menu .add-nav a:hover {
  background: none;
  color: #3d464d;
}


.element-invisible {
  display: none;
}
.pager-first, .pager-last {
  display: none;
}
.view-taxonomy-term .item-list {
  display: block;
  overflow: hidden;
  padding: 0 0 5px 0;
  margin: 10px 0;
  font-family: arial, sans-serif;
  text-align: center;
  width: 100%;
}
ul.pager {
  display: inline-block;
  vertical-align: top;
}
ul.pager, ul.pager li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.pager li {
  float: left;
  line-height: 29px;
  text-align: center;
  min-width: 30px;
  background: #f1f5f7;
  margin-left: 3px;
  padding: 0 2px;

  font-size: 12px;
  font-weight: normal;
}
ul.pager li a {
  color: #3d464d;
  font-size: 12px;
  font-weight: normal;
}
ul.pager li.pager-current, ul.pager li:hover{
  background: #33c7ea;
  color: #fff;
}
@media (min-width: 768px) {
  ul.pager a, ul.pager span {
    min-width: 37px;
    margin-left: 5px;
    padding: 0 12px;
  }
}
.et-ar  .month-set input[type="checkbox"],.month-set .jcf-radio {
  left: -99999px;
  position: absolute;
  top: 0;
  display: none;
}
.brand-menu {
  display: none;
}
body.et-ar {
  /* font-family:"Noto Kufi Arabic",sans-serif; */
  font-family:"NotoKufiArabic",sans-serif;
}
.et-ar .messages.warning {
  display:none;
}
@media (min-width: 768px) {
  .et-ar .footer-ae .col-sm-8, .et-ar .footer-ae .col-sm-2, .et-ar .footer-ae .enjoy-apps {
    float: right;
  }
  .et-ar .share a.p-button-social {
    padding: 0 8px 0 27px;
  }
  .et-ar .main-menu .nav-wrap>ul>li>a {
    font-family: "NotoKufiArabic",sans-serif;
  }
  #main-part {
    margin-top: 4%;
  }
  .footer .socials-column {
    /*float: right;*/
    background: #19191c;
    /*margin-top: -15px;*/
    /*width: 460px;*/
    /*padding: 0;*/
  }
  .et-ar .footer .socials-column {
    /*width: 508px;*/
  }
  .footer .socials-column .change-prefs {
    float: left;
    right: 60px;
    position: relative;
    border-bottom: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    text-align: left;
    left: 0;
    margin: 0;
  }
  .footer .socials-column .change-prefs .country-switcher {
    margin: 0;
    padding: 0 30px 0 0;
    border-right: 1px solid #626467;
    min-width: 250px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    
    float: left;
    left: auto;
    right: 100px;
    position: relative;
    top: 0px;
  }
  .et-ar .footer .socials-column .change-prefs .country-switcher {
    padding: 0 0 0 30px;
  }
  .footer .socials-column .change-prefs .country-switcher .overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
  }
  .footer .socials-column .change-prefs .country-switch-trigger {
    height: 42px;
    border-top: 0;
    background-color: #242428;
  }
  .footer .socials-column .change-prefs .country-switch-trigger .select-country {
    border-bottom: 0.5px solid #38383b;
    font-size: 13px;
    border: 0.5px solid #38383b;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
  }
  .et-ar .footer .socials-column .change-prefs .country-switch-trigger .select-country {
    padding: 10px 10px 10px 0;
  }
  .footer .socials-column .change-prefs .country-switch-trigger .select-country.active {
    border-top: 0;
  }
  .et-en .footer .socials-column .change-prefs .country-switch-trigger .jcf-select-opener {
    top: 0px;
    right: 30px;
    /*transform: rotate(180deg);*/
    position: absolute;
    text-align: center;
    width: 35px;
    bottom: 0;
  }
  .et-ar .footer .socials-column .change-prefs .country-switch-trigger .jcf-select-opener {
    top: 0px;
    left: 30px;
    /*transform: rotate(180deg);*/
    position: absolute;
    text-align: center;
    width: 35px;
    bottom: 0;
  }
  .et-ar .change-prefs .language-switcher .lang-switch--btn {
    border: none;
    width: auto;
    height: 45px;
    font-size: 12px;
  }
  .et-ar .change-prefs a {
    overflow: hidden;
    display: block;
    text-align: center;
    border-radius: 50%;
    color: #a6a6a6;
    line-height: 32px;
  }

  .footer .country-dropdown-container.hidden {
    width: calc(100% - 30px);
    border-bottom: 0;
    bottom: 100%;
    background: #fff;
    position: absolute;
    background-color: #242428;
  }
  .footer .country-dropdown {
    padding: 0px;
    margin: 0px;
  }
  .footer li.country-dropdown-li {
    font-size: 13px;
    padding: 10px;
    margin: 0;
    list-style-type: none;
  }
  .footer .language-switcher {
    padding: 0 15px 0 15px;
    line-height: 20px;
    margin: 0;
    border-right: 1px solid #626467;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    float: left;
  }
  .footer .socials.list-inline.text-right {
    float: right;
    padding-left: 15px;
    padding-right: 12px;
    top: 0;
    right: 0;
    position: static;
    margin-bottom: 8px;
    padding: 6px 0 10px 0;
    text-align: right;
    padding: 6px 0 10px 0;
  }
  .footer .socials.list-inline.text-right li.list-item {
    margin: 0;
    padding: 10px 4px 5px 4px;
  }
  .et-ar .footer .socials-column {
    float: left;
  }
  .et-ar .col-md-5.footer-trademark-section {
    float:right;
  }
  .et-ar .footer .socials-column .change-prefs {
    float: left;
    left: 60px;
    position: relative;
    border-bottom: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    text-align: right;
    right: 0;
    margin: 0;
  }
  .et-ar .footer .language-switcher {
    border-left: 1px solid #38383b;
    margin-right: 15px;
  }
  .et-ar .footer .socials-column .change-prefs .country-switcher {
    border-right: none;
  }
  .et-ar .footer .socials-column .change-prefs .country-switch-trigger .select-country {
    font-size: 12px;
  }
  img.country-dropdown-logo {
    padding-right: 10px;
  }
  .et-ar img.country-dropdown-logo {
    margin-left: 5px;
  }
  .country-dropdown-container.hidden {
    border: 0.5px solid #38383b;
  }
  .et-ar .footer .socials.list-inline.text-right {
    margin-right: 10px;
  }
  .et-ar .contacts {
    font-size: 13px;
  }
  .et-ar .contacts li:first-child a span {
    display: inline-block;
    direction: ltr;
  }
}
.et-ar .blogs .share {
  float: left;
}
.et-ar .footer-ae .socials.list-inline {
  float: left;
}
.et-ar .footer-ae .col-md-push-1 {
  left: 0;
}
.et-ar ul.pager li {
  float: right;
}
.et-ar .subscribe-form button[type="submit"] {
  width: 105px;
  left: 0;
  right:initial;
}

.et-ar .subscribe-form fieldset {
  padding-right: 0;
}

.et-ar ul.contacts li a:before {
  right:0;
  left: initial;
}
.et-ar ul.contacts li a span {
  margin-right: 34px;
}
.et-ar .back-to {
  left: initial;
  right:0;
}
.et-ar .blogs .back-to:before {
  left: initial;
  right: -15px;
  transform: rotate(270deg);
  margin-top: -5px;
}
.et-ar #product-share {
  float: left;
}
.et-ar .footer-ae label{
  font-weight:normal;
}
.et-ar .contacts a[href^="tel"] {
  direction:ltr;
}

.et-ar .footer .change-prefs {
  text-align: right;
}

@media (max-width: 767px) {
  .et-ar .mobile-nav {
    margin:0px -45px 0 -11px;
    font-size: 14px;
  }
  .et-ar .mobile-nav li{
    float: right;
  }
  .et-ar .mobile-nav li a {
    /*color: #ffffff;*/
  }
  .et-ar .footer-ae .logo {
    float:right;
  }
  .et-ar .footer-ae .text-holder {
    float:left;
  }
  .et-ar .subscribe-form .form-control {
    font-size:12px;
  }
  .et-ar .footer .title {
    font-weight: bold;
  }
  .et-ar .subscribe-form label p {
    font-weight: normal;
  }
  .footer .socials-column {
    padding: 0;
    background: #19191c;
  }
  .footer .change-prefs {
    border-bottom: 1px solid #626467;
    bottom: 145px;
    top: -112px;
    padding: 0;
    text-align: left;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
  }
  .footer .country-switcher {
    display: inline-block;
    vertical-align: middle;
    /*margin: 5px 0 10px 10px;*/
    min-width: 60%;
    position: relative;
    top:0;
    left: 10px;
  }
  .et-ar .footer .country-switcher {
    min-width: 60%;
  }
  .footer .overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
  }
  .footer .country-switch-trigger {
    background-color: #242428;
    height: 42px;
  }
  .footer .select-country {
    border: 0.5px solid #38383b;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0 12px 10px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
  }
  .footer .select-country.active {
    border-bottom: 0;
  }
  .footer .jcf-select-opener {
    top: -5px;
    position: absolute;
    text-align: center;
    width: 35px;
    bottom: 0;
  }
  .footer .country-dropdown-container.hidden {
    background: #fff;
    position: absolute;
    width: 100%;
    background-color: #242428;
    border-top: 0;
  }
  .footer .country-dropdown {
    padding: 0px;
    margin: 0px;
  }
  .footer .change-prefs .country-dropdown-container .country-dropdown-li {
    font-size: 13px;
    padding: 10px;
    margin: 0;
    list-style-type: none;
  }
  .footer .language-switcher {
    padding: 0 15px 0 30px;
    /*width: calc(40% - 25px);*/
    display: inline-block;
    vertical-align: middle;
    /*margin: 5px 0 10px 10px;*/
  }
  .et-ar .footer .language-switcher {
    width: calc(40% - 70px);
    position: absolute;
    top: 7px;
    left: 20px;
  }
  .footer .socials {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    bottom: 100%;
    padding: 6px 0 3px;
    text-align: center;
  }
  .footer .footer-trademark-section {
    margin: 30px 0px;
  }
  .footer .block {
    margin: 0;
    padding: 0;
  }
  img.country-dropdown-logo {
    margin-right: 5px;
  }
  .et-ar img.country-dropdown-logo {
    margin-left: 5px;
  }
  .country-dropdown-container.hidden {
    border: 0.5px solid #38383b;
  }
  .et-ar .footer-ae .socials.list-inline {
    float: none;
  }
  .et-ar .footer .country-switcher {
     top: 0;
    right: 10px;
  }
  .et-ar .footer .socials-column .change-prefs .country-switch-trigger .select-country {
    padding: 10px 10px 13px 0;
  }
  .footer .socials-column .change-prefs .country-switch-trigger .select-country.active {
    border-bottom: 0;
  }
  .et-en .footer .socials-column .change-prefs .country-switch-trigger .jcf-select-opener {
    top: 0px;
    right: 0;
    /*transform: rotate(180deg);*/
    position: absolute;
    text-align: center;
    width: 35px;
    bottom: 0;
  }
  .et-ar .footer .socials-column .change-prefs .country-switch-trigger .jcf-select-opener {
    top: 0px;
    left: 0;
    /*transform: rotate(180deg);*/
    position: absolute;
    text-align: center;
    width: 35px;
    bottom: 0;
  }
  .et-ar .footer label p , .et-ar .footer .lang-switch--btn.link.en-lang{
    font-size: 12px;
  }

}
.footer .socials-column .change-prefs .country-switch-trigger .jcf-select-opener:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-indent: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: 6px;
  content: "\e604";
  color: #38383b;
}
.subscribe-form p {
  margin-bottom: 14px;
  font-weight: normal;
  font-size: 14px;
}

.et-en  .footer .socials-column .language-switcher {
  position: absolute;
  top: 0px;
  right: 20px;
}

@media (min-width: 768px) {
  .et-en .footer .socials-column .language-switcher {
    right: 0px;
    min-width: 100px;
    height: 40px;
  }
  .et-ar .footer .socials-column .language-switcher {
    left: 0px;
    min-width: 100px;
    height: 40px;
  }
  .et-en .footer .socials-column .country-switcher {
    left: auto;
    right: 100px;
  }
  .et-ar .footer .socials-column .change-prefs .country-switcher {
    right: auto !important;
    left: 100px !important;
    position: absolute;
    top: 0px;
  }
}







@media (min-width: 768px) {

}
.country-BH .logo, .country-BH .text-holder{
  float: none;
  margin: 0 25px 0 0;
  display: inline-block;
  vertical-align: middle;
}
.country-BH .footer-trademark-section{
  margin: 15px 0px;
  float: none !important;
}
.et-en.country-BH .socials-column{
  float: right;
  background: #19191c;
  margin-top: 15px;
  width: 460px;
}
.country-BH .language-switcher{
  padding: 10px 15px;
  line-height: 20px;
  margin: 0;
  border-right: 1px solid #626467;
  height: 36px;
  right: 23px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  min-width: 77px;
}
.country-BH .logo img{
  float: none;
  margin: 0 25px 0 0;
  display: inline-block;
  vertical-align: middle;
  max-width: 100% !important;
}
.et-en.country-BH .socials-column .socials{
  position: relative !important;
  right: 60px !important;
  width: auto !important;
  float: right !important;
  padding-top: 0px !important;
  padding: 0 0 0px !important;
  margin: 0 !important;
  border-color: #626467 !important;
}
.et-ar.country-BH .socials-column .socials{
  position: relative;
  right: 11px;
  width: auto;
  float: right;
  padding-top: 0;
}
.et-ar.country-BH .change-prefs{
  float: right !important;
  border-bottom: 0 !important;
  margin-left: 0 !important;
  left: 0 !important;
}
.et-ar.country-BH .socials-column{
  width: 377px;
}
.et-ar.country-BH .country-switch-trigger{
    min-width: 210px;
}



/*SA desktop EN*/

.country-SA .logo, .country-SA .text-holder{
  float: none;
  margin: 0 25px 0 0;
  display: inline-block;
  vertical-align: middle;
}
.country-SA .footer-trademark-section{
  margin: 15px 0px;
  float: none !important;
}
.et-en.country-SA .socials-column{
  float: right;
  background: #19191c;
  margin-top: 15px;
  width: 460px;
}
.country-SA .language-switcher{
  padding: 10px 15px;
  line-height: 20px;
  margin: 0;
  border-right: 1px solid #626467;
  height: 36px;
  right: 23px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  min-width: 77px;
}
.country-SA .logo img{
  float: none;
  margin: 0 25px 0 0;
  display: inline-block;
  vertical-align: middle;
  max-width: 100% !important;
}
.et-en.country-SA .socials-column .socials{
  position: relative !important;
  right: 60px !important;
  width: auto !important;
  float: right !important;
  padding-top: 0px !important;
  padding: 0 0 0px !important;
  margin: 0 !important;
  border-color: #626467 !important;
}
.et-ar.country-SA .socials-column .socials{
  position: relative;
  right: 11px;
  width: auto;
  float: right;
  padding-top: 0;
}
.et-ar.country-SA .change-prefs{
  float: right !important;
  border-bottom: 0 !important;
  margin-left: 0 !important;
  left: 0 !important;
}
.et-ar.country-SA .socials-column{
  width: 377px;
}
.et-ar.country-SA .country-switch-trigger{
    min-width: 210px;
}
/*END SA*/


/*AE*/
.country-AE .logo, .country-AE .text-holder{
  float: none;
  margin: 0 25px 0 0;
  display: inline-block;
  vertical-align: middle;
}
.country-AE .footer-trademark-section{
  margin: 15px 0px;
  float: none !important;
}
.et-en.country-AE .socials-column{
  float: right;
  background: #19191c;
  margin-top: 15px;
  width: 460px;
}
.country-AE .language-switcher{
  padding: 10px 15px;
  line-height: 20px;
  margin: 0;
  border-right: 1px solid #626467;
  height: 36px;
  right: 23px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  min-width: 77px;
}
.country-AE .logo img{
  float: none;
  margin: 0 25px 0 0;
  display: inline-block;
  vertical-align: middle;
  max-width: 100% !important;
}
.et-en.country-AE .socials-column .socials{
  position: relative !important;
  right: 60px !important;
  width: auto !important;
  float: right !important;
  padding-top: 0px !important;
  padding: 0 0 0px !important;
  margin: 0 !important;
  border-color: #626467 !important;
}
.et-ar.country-AE .socials-column .socials{
  position: relative;
  right: 11px;
  width: auto;
  float: right;
  padding-top: 0;
}
.et-ar.country-AE .change-prefs{
  float: right !important;
  border-bottom: 0 !important;
  margin-left: 0 !important;
  left: 0 !important;
}
.et-ar.country-AE .socials-column{
  width: 377px;
}
.et-ar.country-AE .country-switch-trigger{
    min-width: 210px;
}
/*END AE*/



/*latest update BH*/
@media (max-width: 767px) {
  .change-prefs {
    border-bottom: 1px solid #333538 !important;
    max-height: 51px !important;
  }
  
  .et-ar.country-BH .socials-column .socials {
    position: absolute;
    right: 0;
    width: auto;
    float: none;
    padding-top: 0;
  }
  
  .et-ar.country-BH .footer .logo {
    float: right;
  }
  .et-ar.country-BH .footer .text-holder {
    float: left;
  }
  .et-ar .footer .language-switcher {
    position: absolute;
    top: 7px;
    left: 18px;
    right: auto;
    border: 0;
  }
  .et-ar.country-BH .change-prefs {
    border-bottom: 1px solid #333538 !important;
    max-height: 51px !important;
  }
  
  .et-en.country-BH .change-prefs {
    border-bottom: 1px solid #333538 !important;
    max-height: 51px !important;
  }
  .et-en.country-BH .socials-column .socials {
    position: absolute !important;
    right: 0 !important;
    width: auto !important;
    float: none !important;
    padding-top: 0 !important;
  }
  .et-en.country-BH .footer .socials-column .language-switcher {
    border: 0;
  }
}