@font-face {
	font-family: 'Din';
	src: url('../fonts/dinreg-webfont.eot?') format('eot'),
		url('../fonts/dinreg-webfont.woff') format('woff'),
		url('../fonts/dinreg-webfont.ttf') format('truetype'),
		url('../fonts/dinreg-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Din';
	src: url('../fonts/dinot-bold-webfont.eot?') format('eot'),
		url('../fonts/dinot-bold-webfont.woff') format('woff'),
		url('../fonts/dinot-bold-webfont.ttf') format('truetype'),
		url('../fonts/dinot-bold-webfont.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Swiss721CondensedRegular';
    src: url('../fonts/swiss721bt-romancondensed-webfont.eot');
    src: url('../fonts/swiss721bt-romancondensed-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/swiss721bt-romancondensed-webfont.woff') format('woff'),
        url('../fonts/swiss721bt-romancondensed-webfont.ttf') format('truetype'),
        url('../fonts/swiss721bt-romancondensed-webfont.svg#Swiss721CondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'Swiss721CondensedBold';
    src:url('../fonts/swiss721bt-boldcondensed-webfont.eot');
    src:url('../fonts/swiss721bt-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/swiss721bt-boldcondensed-webfont.woff') format('woff'),
        url('../fonts/swiss721bt-boldcondensed-webfont.ttf') format('truetype'),
        url('../fonts/swiss721bt-boldcondensed-webfont.svg#Swiss721CondensedBold') format('svg');
}
@font-face {
    font-family:'Swiss924BTRegular';
    src:url('../fonts/swiss924bt-webfont.eot');
    src:url('../fonts/swiss924bt-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/swiss924bt-webfont.woff') format('woff'),
        url('../fonts/swiss924bt-webfont.ttf') format('truetype'),
        url('../fonts/swiss924bt-webfont.svg#Swiss924BTRegular') format('svg');
}
@font-face {
    font-family:'AdobeGaramondProItalic';
    src:url('../fonts/agaramondpro-italic-webfont.eot');
    src:url('../fonts/agaramondpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/agaramondpro-italic-webfont.woff') format('woff'),
        url('../fonts/agaramondpro-italic-webfont.ttf') format('truetype'),
        url('../fonts/agaramondpro-italic-webfont.svg#AdobeGaramondProItalic') format('svg');
}
@font-face {
    font-family: 'ITCKabelRegular';
    src: url('../fonts/itckabel-book-webfont.eot');
    src: url('../fonts/itckabel-book-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/itckabel-book-webfont.woff') format('woff'),
        url('../fonts/itckabel-book-webfont.ttf') format('truetype'),
        url('../fonts/itckabel-book-webfont.svg#ITCKabelRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MRockwellRegular';
    src: url('../fonts/mrockwell-webfont.eot');
    src: url('../fonts/mrockwell-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mrockwell-webfont.woff') format('woff'),
        url('../fonts/mrockwell-webfont.ttf') format('truetype'),
        url('../fonts/mrockwell-webfont.svg#RockwellRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RockwellRegular';
    src: url('../fonts/rockwell-webfont.eot');
    src: url('../fonts/rockwell-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rockwell-webfont.woff') format('woff'),
        url('../fonts/rockwell-webfont.ttf') format('truetype'),
        url('../fonts/rockwell-webfont.svg#RockwellRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RockwellLightRegular';
    src: url('../fonts/mrockwell-light-webfont.eot');
    src: url('../fonts/mrockwell-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mrockwell-light-webfont.woff') format('woff'),
        url('../fonts/mrockwell-light-webfont.ttf') format('truetype'),
        url('../fonts/mrockwell-light-webfont.svg#RockwellLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RockwellBold';
    src: url('../fonts/mrockwell-bold-webfont.eot');
    src: url('../fonts/mrockwell-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mrockwell-bold-webfont.woff') format('woff'),
        url('../fonts/mrockwell-bold-webfont.ttf') format('truetype'),
        url('../fonts/mrockwell-bold-webfont.svg#RockwellBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


#wrapper{
  padding: 0;
  width: 960px;
  margin: 0 auto;
}
.brand-nav .sub-nav-block .nav-block ul li a:hover {
	text-decoration: none;
}
.info-section .title-block {
    text-align: left;
}
.title-block a.full:hover {
    text-decoration: none;
}
.brand-nav .sub-nav-block .nav-block ul li {
    margin-top: 0;
}
.brand-nav .sub-nav-block .nav-block ul li a {
  color: #333;
  color: rgba(51, 51, 51, 0.5); }

.brand-nav .sub-nav-block .nav-block ul li a {
    color: #333333;
    font-size: 18px;
    font-weight: normal;
}
.brand-nav {
    width: 960px;
    overflow: hidden;
}
.brand-nav{
position: relative;
margin:15px auto;
padding-bottom:0px;
}
.brand-nav strong.brand-logo {
  float: left;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/SE.svg) no-repeat;
  /*width: 119px;
  height: 56px; margin-left: -37px;*/
	width: 201px;
  height: 72px;
	
	}
  .brand-nav strong.brand-logo.emax {
  width: 123px;
  background-position: -850px -31px; }

.brand-nav strong.brand-logo.babyshop {
  width: 147px;
  background-position: -1122px -31px; }

.brand-nav strong.brand-logo.centrepoint {
  xbackground-position: -1324px -15px;
  width: 123px;
  height: 55px;
}
.brand-nav .sub-nav-block .nav-block {
  width: 960px; }

.brand-nav .sub-nav-block .nav-block ul li:first-child {
  margin-left: 30px; }

.brand-nav .sub-nav-block .nav-block ul li {
  margin-left: 22px;
  margin-right:0px;
  padding-top: 20px; 
  margin-top: 20px; }

.brand-nav .sub-nav-block .nav-block ul li.active a, .brand-nav .sub-nav-block .nav-block ul li a:hover {
  color: #000;
  color: rgba(0, 0, 0, 0.8); }
.sub-nav-block .nav-block {
  color: #8b8e94;
  display: block; }

.sub-nav-block .nav-block .title {
  display: inline-block;
  border-bottom: 1px solid #454a53;
  padding: 0 0 10px;
  margin: 0 0 11px;
  font: bold 12px Arial, Helvetica, sans-serif; }
.brand-nav .nav-block .sub-nav {
  float:right;
  font-size: 14px !important; }

  .nav-block .sub-nav {
  margin: 0;
  padding: 0;
  font: 16px "Din", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  list-style: none; }

  .brand-nav .sub-nav-block .nav-block ul li {
    margin-top: 0;
} 
.blogs .back-to{
    top: -30px;
}
.nav-block .sub-nav li {
  padding: 26px 0 11px 10px;
  float: left; }

/*  .sort-line .form-group{
    width: inherit !important;
  }*/
  .sort-line .form-group label,
  .sort-line .form-group .jcf-select .jcf-select-text,
  .month-set label{
    font-size: 17px;
  }
.sort-line{
  width: 960px;
  margin: 0 auto;
  text-align: center;
  padding-left: 10px;
}
/*------------main block css--------------*/
.container-fluid{
  max-width: inherit;
  width: 960px;
  margin: 0 auto;
}
.blogs .blog-details, 
.blogs .item{
  max-width: 960px;
}
.sort-line .form-group{
    width: 250px;
}
@media only screen and (min-width: 1024px){
    div.line-height{
        width: 700px;
        float: right;
/*        padding-top: 1%;*/
    }
}

/*------------------end of main block css---------------------*/
/*---------------Footer css----------------------*/
#home_page .section{
  text-align: left;
}
.brand-footer {
  background: none;
  border: 1px solid #D8D8D8;
  padding: 25px;
  margin: 30px auto 0;
/*  width: 910px;*/
  overflow: hidden;}
.sub-title:first-child {margin-top:9px;}
.sub-title {
	position:relative;
	width:100%;
	overflow:hidden;
	text-align:center;
	padding:0 0 22px;
}
.brands .sub-title {
	padding-bottom:13px;
	margin-top:20px !important;
}
.form-item.form-type-select.form-item-blog-year.form-group{
    display: none;
}
.sub-title .frame {margin:0 -480px;}
.sub-title .sep {
	width:480px;
	height:4px;
	overflow:hidden;
	display:inline-block;
	vertical-align:middle;
	border:solid #d8d8d8;
	border-width:1px 0;
	font-size:0;
	line-height:0;
}
.sub-title h2,
.sub-title h3 {
	max-width:880px;
	color:#000;
	display:inline-block;
	vertical-align:-18px;
	margin:0 18px 0 20px;
	text-transform:uppercase;
	letter-spacing:1px;
}
.sub-title h2 {font:48px/52px "Swiss924BTRegular", Arial, Helvetica, sans-serif;}
* +html .sub-title h2 {display:inline;}
* +html .sub-title h3 {display:inline;}
.sub-title h3 {
	vertical-align:-8px;
	margin:0 8px 0 10px;
	font:30px/38px "Swiss924BTRegular", Arial, Helvetica, sans-serif;
}
.brand-footer .sub-title h3 {
  color: #666;
  font: 16px/24px Swiss721CondensedBold,Arial,Helvetica,sans-serif;
  vertical-align: -2px; }

.brand-footer-nav {
  display: block;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 11px; }

.brand-footer-nav p {
  font-weight: bold;
  margin: 0 0 5px 0; 
  font-size: 13px;} 

.brand-footer-nav li.col {
  width: 105px;
  float: left;
  margin: 0 10px 0 0;
  padding: 0; }

.brand-footer-nav li.col ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.brand-footer-nav li.col ul li {
  line-height: 15px;
  margin-bottom: 4px; }

.brand-footer-nav li.col ul li a {
  color: #666; }
.brand-footer-extra {
  float: right; }
.brand-footer-newsletter {
  float: left;
  width: 220px; }

.brand-footer-newsletter form {
  overflow: auto; }

.brand-footer-newsletter label {
  font-size: 11px;
  font-weight: bold;
  display: block; }

.brand-footer-newsletter input {
  float: left;
  width: 135px;
  height: 26px; 
  line-height: 15px;
  padding: 4px 7px 2px; }

/*.brand-footer-newsletter .submit {
  float: left;
  width: 45px; }*/
small{
    font-size: 70%;
}
label{
    max-width: inherit;
    margin-bottom: 0px;
}
input,
textarea,
select{
	font:12px Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#666;
}
.brand-footer-newsletter .submit {
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
  width: 45px;
  height: 26px;
  overflow: hidden;
  background: #666666;
  /* Old browsers */
  background: -moz-linear-gradient(top, #666666 0%, #414141 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(100%, #414141));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #666666 0%, #414141 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #666666 0%, #414141 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #666666 0%, #414141 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #666666 0%, #414141 100%);
  /* W3C */
  font: 12px/24px Swiss721CondensedBold,Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  color: #fff; }
.brand-footer-social {
  width: 57px;
  float: right; }
.brand-footer .networks-list {
  /*display: none;*/
  background: none;
  padding: 0;
  margin: 0;
  height: 70px;
  overflow: hidden; 
  float: right;
  list-style: none;
}
.networks-list li{
	float:left;
	margin:0 0 0 4px;
}
.networks-list li:first-child {margin-left:0;}
.networks-list a{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	width:26px;
	height:26px;
}
.networks-list .facebook{background:url(../images/sprite.png) no-repeat 0 -497px;}
.networks-list .twitter{background:url(../images/sprite.png) no-repeat -30px -497px;}
.networks-list .youtube{background:url(../images/sprite.png) no-repeat -64px -495px;}
.networks-list .instagram {
  background: url(../images/ing.jpg);
}
.brand-footer-country{
	width: 100%;
	float: right;
	margin-top:20px;	
}
.brand-footer-country #select-location{
	float: right;
}
#select-location label {
  display: inline-block;
}
.copyright{
    margin-top: 5px;
}
#corporate-footer {
    width: 960px!important;
}
#corporate-footer {
	clear:both;
	margin: 20px auto 0px;
  width: 910px
}
#corporate-footer-logo {
	float:left;
	margin-right:12px;
    margin-right: 12px;
}
#corp-logo {
	background:url("../images/footer-logo.png") no-repeat;
	width:190px;
	float:left;
	background-position:1px 3px;
	height:60px;
	margin-right:12px;
}
button, a{
    -webkit-transition: unset; 
}
/*#corp-logo:hover { background-position: 1px 3px;}*/
#corporate-footer-links {
	float: left; padding-bottom: 20px;

}
#corporate-footer:hover a{
	color:#a6a6a6;
}
#corporate-footer:hover p {
	color:#aeaeae;
}
#corporate-footer:hover li {
	color:#aeaeae;
}
#corporate-footer:hover  #corporate-footer-logo {
	/*background-position: left -59px;*/
	background-position:0px -9px;
}
#corporate-footer-heading {
	font-family:arial,helvetica,sans-serif;
	font-size:11px;
	padding-top:8px;
	color:#a6a6a6;
	margin-bottom:5px;
	margin-top:0;
}
#corporate-footer ul {
	list-style:none;
	font-family:arial,helvetica,sans-serif;
	font-size:10px;
	color:#a6a6a6;
	margin:0;
	padding:0;
}
#corporate-footer li {
	display:inline;
	padding:0 4px;
	border-left:1px solid #ccc;
}
#corporate-footer li:first-child{
	border:none;
}
#corporate-footer li:first-child+li{
	border:none;
}
#corporate-footer li a {
	color:#a6a6a6;
}
/** css for corporate footer **/
ul.links{
	display: none !important;
}

#corporate-footer li {
	display: block;
	border-left: none;
}
#corporate-footer ul {
	margin-left: 19px;
	float: left;
}
#corporate-footer ul li strong{
	font-size:10px;
	font-weight:bold;
}
#corporate-footer ul  > ul {
margin-left: 0px;
padding-left : 0px;
float: left;
}
#corporate-footer:hover ul li
{
	color: #000;
}
/*for ie 7*/
#corporate-footer ul li ul{
margin-left: 0px;
padding-left : 0px;
float: left;
}
#corp-logo {
    background: url(../images/landmark-group-logo.png) no-repeat scroll 1px 3px ;/*ie8*/
    background: url(../images/landmark-group-logo.png) no-repeat scroll 1px 3px rgba(0, 0, 0, 0);
}
#corp-logo:hover {
    background-position: 1px -56px;
}
.networks-list li.last{
  margin-left: 0px;
  margin-top: 4px;
}
.networks-list .youtube {
margin-right: 4px;
margin-top: 4px;
margin-left: -3px;
 }
.section {
	height:1%;	
	font:14px/20px Arial, Helvetica, sans-serif;
}
.jcf-select.jcf-select-custom-dropdown{
    display: none;
}
/*Country switcher css*/


.custom-dropdown{display:none}.dropdown{display:inline-block;margin:0}.dropdown ul,.dropdown dd,.dropdown dt{margin:0;padding:0;position:relative;z-index:99}.dropdown,.dropdown dd{position:relative}.dropdown a{text-decoration:none;outline:none;color:#737373}.dropdown span.value{display:none}.dropdown .flag{border:none;vertical-align:middle;margin-right:2px;margin-right:0.2rem}.dropdown .ae .flag{background-image:url(../images/ae.png)}.dropdown .flagvisibility{display:none}.dropdown dt{font-weight:normal}.dropdown dt a{display:block;background:url(../images/dropdown-arrow.png) no-repeat scroll right 71%;padding:10px 33px 0 5px;}.dropdown dt a span{cursor:pointer;display:block}.dropdown dd ul{background-color:#fff;border:1px solid #ddd;left:0px;padding:5px 0px;position:absolute;top:2px;width:auto;min-width:75px;list-style:none}.dropdown dd a{padding:5px;display:block}.dropdown dd a:hover{background-color:#f1f1f1}#dropdown-country{font-size:11px;}#dropdown-country a{line-height:1}.ie8 #dropdown-country a{width:100px;width:10rem}#dropdown-country ul{right:0;left:auto;/*min-width:205px;*/top:10px}#dropdown-country ul li{float:none;/*width:50%*/}#dropdown-filter{text-align:left;margin-left:10px;margin-left:1rem}#dropdown-filter dt a{padding:0 0 0 20px;padding: 0 0 0 2rem;background:url(../images/filters-arrow.png) no-repeat left center}#dropdown-filter dd ul{padding:10px 20px;padding: 1rem 2rem;border-top:none}#dropdown-filter dd ul li:last-of-type a{border-bottom:none}#dropdown-filter dd a{border-bottom:1px solid #ddd}.offscreen{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px} 