.brand-footer-newsletter .submit {
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
  width: 85px;
  height: 26px;
  overflow: hidden;
  background: #666666;
  /* Old browsers */
  background: -moz-linear-gradient(top, #666666 0%, #414141 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(100%, #414141));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #666666 0%, #414141 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #666666 0%, #414141 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #666666 0%, #414141 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #666666 0%, #414141 100%);
  /* W3C */
  font: 12px/24px Swiss721CondensedBold,Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  color: #fff; }

.model-folio__slider ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.model-folio__slider .switcher-holder {
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 0 0 28px; }

* + html .model-folio__slider.switcher-holder ul {
  display: inline; }

.model-folio__slider .switcher-holder li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 2px 0 1px; }

.model-folio__slider .switcher-holder a {
  text-indent: -9999px;
  overflow: hidden;
  float: left;
  width: 9px;
  height: 8px;
  background: url(../images/sprite.png) no-repeat -25px -412px; }

.model-folio__slider .switcher-holder a:hover,
.model-folio__slider .switcher-holder .active a {
  background: url(../images/sprite.png) no-repeat -37px -412px; }

.model-folio__slider .prev,
.model-folio__slider .next {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  left: -32px;
  top: 246px;
  width: 64px;
  height: 64px;
  outline: none; }

.model-folio__slider .prev {
  background: url(../images/sprite.png) no-repeat -1px -1129px; }

.model-folio__slider .next {
  background: url(../images/sprite.png) no-repeat -81px -1129px;
  left: auto;
  right: -31px; }

.sub-title__holder {
  display: inline-block; }

.sub-title--extra .sep {
  vertical-align: 15px; }

.sub-title h4 {
  max-width: 880px;
  color: #000;
  display: inline-block;
  vertical-align: -18px;
  margin: 0 18px 0 20px;
  text-transform: uppercase;
  letter-spacing: 1px; }

* + html .sub-title h4 {
  display: inline; }

.sub-title h4 {
  vertical-align: -8px;
  margin: 0 8px 0 10px;
  font: 24px/30px "Swiss924BTRegular", Arial, Helvetica, sans-serif; }

.popup--with-description {
  width: 960px; }

.popup--with-description .popup-in {
  padding: 25px;
  }

.popup__description-title {
  font-size: 32px;
  font-family: "Swiss924BTRegular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
  margin: 0; }

.popup__description-body {
  margin: 0; }

/*
 * Informational Websites
 */
.title-page {
  display: block;
  clear: both; }

.title-page h3 {
  font-family: Georgia;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 30px;
  font-style: italic; }

.brand-nav {
  padding-bottom: 30px;
  overflow: auto; }

.main-gallery .brand-nav {
  position: absolute;
  top: 21px;
  left: 370px; }

.main-block .brand-nav {
  margin-top: -10px; }

.brand-nav strong.brand-logo {
  float: left; }

.brand-nav .nav-block .sub-nav {
  float:right;
  font-size: 14px !important; }

.brand-nav .sub-nav-block .nav-block {
  width: 960px; }

.brand-nav .sub-nav-block .nav-block ul li:first-child {
  margin-left: 30px; }

.brand-nav .sub-nav-block .nav-block ul li {
  margin-left: 22px;
  margin-right:0px;
  padding-top: 20px; 
  margin-top: 20px; }

.brand-nav .sub-nav-block .nav-block ul li a {
  color: #333;
  color: rgba(51, 51, 51, 0.5); }

.brand-nav .sub-nav-block .nav-block ul li.active a, .brand-nav .sub-nav-block .nav-block ul li a:hover {
  color: #000;
  color: rgba(0, 0, 0, 0.8); }

.brand-nav strong.brand-logo {
  float: left;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  background: url(../images/SE.svg) no-repeat;
  /*width: 119px;
  height: 56px; margin-left: -37px;*/
	width: 201px;
  height: 72px;
	
	}

.brand-nav strong.brand-logo.emax {
  width: 123px;
  background-position: -850px -31px; }

.brand-nav strong.brand-logo.babyshop {
  width: 147px;
  background-position: -1122px -31px; }

.brand-nav strong.brand-logo.centrepoint {
  xbackground-position: -1324px -15px;
  width: 123px;
  height: 55px;
}

.logo-shukran {
  background: url("../images/logos.png") no-repeat -1534px -15px;
  width: 141px;
  height: 34px;
  display: inline-block;
  text-indent: -9999px; }

.sub-nav-block .nav-block {
  color: #8b8e94;
  display: block; }

.sub-nav-block .nav-block .title {
  display: inline-block;
  border-bottom: 1px solid #454a53;
  padding: 0 0 10px;
  margin: 0 0 11px;
  font: bold 12px Arial, Helvetica, sans-serif; }

.nav-block .sub-nav {
  margin: 0;
  padding: 0;
  font: 16px "Din", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  list-style: none; }

.nav-block .sub-nav li {
  padding: 26px 0 11px 10px;
  float: left; }

.nav-block .sub-nav a {
  color: #8b8e94; }

/*
 * Informational Footer
 */
.brand-footer {
  background: none;
  border: 1px solid #D8D8D8;
  padding: 25px;
  margin: 30px auto 0;
  width: 910px; }

.brand-footer-nav {
  display: block;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 11px; }

.brand-footer-nav p {
  font-weight: bold;
  margin: 0 0 5px 0; }

.brand-footer-nav li.col {
  width: 105px;
  float: left;
  margin: 0 10px 0 0;
  padding: 0; }

.brand-footer-nav li.col ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.brand-footer-nav li.col ul li {
  line-height: 15px;
  margin-bottom: 4px; }

.brand-footer-nav li.col ul li a {
  color: #666; }

.brand-footer-extra {
  float: right; }

.brand-footer-newsletter {
  float: left;
  width: 220px; }

.brand-footer-newsletter form {
  overflow: auto; }

.brand-footer-newsletter label {
  font-size: 11px;
  font-weight: bold;
  display: block; }

.brand-footer-newsletter input {
  float: left;
  width: 135px;
  height: 18px;
  line-height: 15px;
  padding: 4px 7px 2px; }

.brand-footer-newsletter .submit {
  float: left;
  width: 45px; }

.brand-footer-social {
  width: 57px;
  float: right; }

.brand-footer .networks-list {
  /*display: none;*/
  background: none;
  padding: 0;
  margin: 0;
  height: 70px;
  overflow: auto; }

.networks-list .youtube {
  margin-right: 4px;
margin-top: 4px;
margin-left: -3px;
  /*background: url(../images/YouTube.png);*/
 }
.networks-list li.last{
  margin-left: 0px;
  margin-top: 4px;
}
  
.networks-list .instagram {
  background: url(../images/ing.jpg);
}

.brand-footer .sub-title h3 {
  color: #666;
  font: 16px/24px Swiss721CondensedBold,Arial,Helvetica,sans-serif;
  vertical-align: -2px; }

/*
 * Buying Guides
 */
.nav-guide-main {
  overflow: auto;
  margin: 10px 0 40px 0;
  text-align: center;
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em; }

.nav-guide-main a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  width: 181px;
  height: 164px;
  border: 2px solid #fff;
  padding: 20px 0 0 0;
  background: #fff;
  margin: 0 5px 0 0;
  text-align: center;
  font-family: 'Swiss721CondensedBold';
  font-size: 14px;
  color: #000;
  text-transform: uppercase; }

.nav-guide-main a.active {
  border-color: #00aeef;
  color: #00aeef; }

.nav-guide-main a img {
  margin-bottom: 10px; }

.nav-guide-main a:last-child {
  margin: 0; }

.subnav-guide {
  margin: -10px 0 20px 0; }

.subnav-guide ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }

.subnav-guide ul li {
  font-family: 'Swiss721CondensedBold';
  font-size: 14px;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 7px 0 7px; }

.subnav-guide ul li a {
  color: #666; }

.subnav-guide ul li.active a {
  color: #000; }

/*
 * Offers Emax
 */
.offers-emax {
  margin-top: 40px; }

.offers-emax .col-main {
  width: 800px;
  background: #fff; }

.offers-emax .col-left {
  width: 150px; }

.offers-emax .col-left ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.offers-emax .col-left ul li a {
  color: #666;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none; }

.offers-emax .col-left ul li.active a, .offers-emax .col-left ul li a:hover {
  color: #000;
  font-weight: bold; }

.offers-emax .offer {
  margin: 25px;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #e7e7e7;
  overflow: auto; }

.offers-emax .offer:last-child {
  border: 0; }

.offers-emax .offer-header {
  overflow: auto; }

.offers-emax .offer-item-brand {
  float: left; }

.offers-emax .offer-price {
  float: right; }

.offers-emax .offer-badge {
  float: left;
  color: #fff;
  background: url("../images/sprite.png") no-repeat -127px -676px;
  width: 59px;
  height: 59px;
  text-align: center;
  line-height: 5px;
  margin: 0 10px 0 0;
  vertical-align: middle; }

.offers-emax .offer-badge p:first-child {
  margin-top: 18px; }

.offers-emax .offer-badge small {
  font-size: 8px; }

.offers-emax .offer-price .price {
  float: left; }

.offers-emax .offer-price .price strike {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  display: block;
  margin: 5px 0 10px 0; }

.offers-emax .offer-price .price strong {
  font-size: 32px;
  color: #000; }

.offers-emax .offer-content {
  display: table;
  width: 100%;
  text-align: center; }

.offers-emax .column-offer {
  width: 32%;
  vertical-align: middle;
  display: inline-block;
  position: relative; }

.offers-emax .column-offer-wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.offers-emax .column-offer .plus {
  display: block;
  background: url("../images/sprite.png") no-repeat -72px -697px;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  z-index: 509;
  right: -25px; }

.offer-product-title {
  font-size: 12px;
  font-weight: bold;
  color: #333; }

.offers-emax .column-main ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.offers-emax .column-middle {
  padding: 0 10px 0 10px; }

.offers-emax .column-middle .column-item {
  width: 49%;
  margin-bottom: 10px;
  display: inline-block; }

.offers-emax .column-middle .offer-product-title {
  font-size: 11px; }

.offers-emax .column-middle .column-item img {
  width: 90%; }

.offers-emax .voucher {
  width: 100%;
  margin: 10px 0 10px 0; }

.offers-emax .voucher p {
  font-size: 16px;
  background: #f6f6f6;
  display: block;
  border: 1px solid #e8e8e8;
  box-shadow: inset 1px 1px 1px white;
  padding: 20px 0 20px 0;
  margin: 0 0 0 20px; }

/*
 * Offers Baybyshop/Splash
 */
.subsection {
  padding: 0 20px 30px; }

.subsection.disabled {
  opacity: .3; }

.subsection:last-child {
  padding: 0 20px 0; }

.offer-wrapper {
  overflow: auto;
  margin-bottom: 30px; }

.offer-wrapper:last-child {
  margin-bottom: 0; }

.offer-banner {
  float: left;
  margin-right: 20px; }

.offer-header h4 {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 18px;
  font-weight: bold; }

.offer-body p {
  font-size: 12px;
  margin-top: 10px; }

.offer-meta {
  font-size: 12px;
  margin-top: 10px; }

.offer-meta-row {
  overflow: auto;
  margin-top: 10px; }

.offer-meta-col {
  display: block;
  float: left; }

.offer-meta-col.col-title {
  width: 100px;
  float: left; }

.offer-meta-col.col-body {
  width: 300px; }

.meta-city {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block; }

.meta-city li {
  display: inline-block;
  border: 1px solid #e7e7e7;
  padding: 1px 3px;
  margin: 3px 0 3px 0;
  border-radius: 3px; }

/*
 * Blog
 */
.subsection.blog {
  margin-top: -10px; }

/* Blog conent (Left Side) */
.blog-body {
  width: 610px;
  float: left;
  background-color: #FFFFFF;
   }

.post-actions a {
  display: inline-block;
  margin-right: 10px; }

.post-action-social {
  display: inline-block;
  vertical-align: middle; }

.post-action-social .fb-like {
  margin-right: 10px; }

/* Blog sidebar (Right Side) */
.blog-sidebar {
  width: 325px;
  padding: 0px;
  float: right; }

.link-rss {
  line-height: 23px;
  vertical-align: middle;
  font-size: 12px; }

.ico-rss {
  background: url("../images/sprite.png") no-repeat -100px -498px;
  width: 22px;
  height: 22px;
  display: inline-block; }

.link-rss .ico-rss {
  float: left;
  display: inline-block;
  margin-right: 10px; }

.blog-sidebar-widget {
  border: 1px solid #e7e7e7;
  padding: 10px 15px 20px 15px;
  margin: 20px 0 20px 0; }

.blog-sidebar-widget .sub-title {
  padding: 0; }

.blog-sidebar-widget h3 {
  font-size: 16px;
  vertical-align: -2px; }

.blog-sidebar-widget ul {
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  border: 1px solid #e8e8e8;
  box-shadow: inset 0 0 0 2px white;
  list-style: none; }

.blog-sidebar-widget ul li a {
  display: block;
  padding: 5px 0 5px 10px;
  border-bottom: 2px solid #fff;
  font-size: 12px; }

.blog-sidebar-widget ul li:last-child a {
  border: 0; }

/*
 * New blue twitter
 */
.twitter-section.blue {
  padding: 31px 15px 0 22px;
  width: 200px; }

.twitter-section.blue .twitter-list .name {
  font-size: 13px;
  line-height: 18px; }

.twitter-section.blue p {
  color: #caeffd;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 0; }

.twitter-section.blue .time {
  color: #237d9e; }

.twitter-section.blue .twitter-list a {
  text-decoration: none; }

small {
  font-size: 70%; }

.list--reset {
  margin-left: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.video-wrapper.video-wrapper--no-desc .video__description__title, .brand-blog .brand-blog__title, .support-block .support-block__info > p, .model-folio__popup__title {
  margin: 0;
  text-transform: uppercase;
  font-family: "Swiss924BTRegular", Arial, Helvetica, sans-serif;
  font-weight: normal; }

.video-wrapper.video-wrapper--no-desc .video__description__title{
  margin: 0;
  text-transform: uppercase;
  font-family: "Swiss721CondensedBold", Arial, Helvetica, sans-serif;
  font-weight: normal; 
	font-size: 16px !important;
	}
.button {
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-size: 20px ;
  font-size: 1.25rem ;
  font-family: "Swiss721CondensedBold", Arial, Helvetica, sans-serif;
  border: 0;
  padding: .7em;
  cursor: pointer;
  margin: 0 10px 0 0 ;
  margin:  0 0.625rem 0 0 ; }

.button--medium {
  font-size: 12px ;
  font-size: 0.75rem ; }

.button--primary {
  color: #fff;
  background: #00b6e3;
  text-shadow: 1px 1px 2px #0087b8;
  background: -moz-linear-gradient(top, #00b6e3 0%, #0096d4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b6e3), color-stop(100%, #0096d4));
  background: -webkit-linear-gradient(top, #00b6e3 0%, #0096d4 100%);
  background: -o-linear-gradient(top, #00b6e3 0%, #0096d4 100%);
  background: -ms-linear-gradient(top, #00b6e3 0%, #0096d4 100%);
  background: linear-gradient(top, #00b6e3 0%, #0096d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b6e3', endColorstr='#0096d4',GradientType=0 ); }
  .button--primary:hover {
    background: -moz-linear-gradient(top, #079bc4 0%, #0479a9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #079bc4), color-stop(100%, #0479a9));
    background: -webkit-linear-gradient(top, #079bc4 0%, #0479a9 100%);
    background: -o-linear-gradient(top, #079bc4 0%, #0479a9 100%);
    background: -ms-linear-gradient(top, #079bc4 0%, #0479a9 100%);
    background: linear-gradient(top, #079bc4 0%, #0479a9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#079bc4', endColorstr='#0479a9',GradientType=0 ); }

.video-wrapper .video__link {
  text-align: center;
  display: block;
  position: relative; }
  .video-wrapper .video__link:after {
    /* content: url(../images/play-button.png); */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .grid-item .video-wrapper .video__link:after {
      width: 470px;
      height: 234px;
      margin: -117px 0 0 -135px; }
.video-wrapper .video__description__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px ;
  font-size: 1rem ;
  color: #000; }
.video-wrapper .video__description__body {
  font-size: 13px ;
  font-size: 0.8125rem ;
  line-height: 1.5;
  margin: 0; }
.columns-section .video-wrapper.video-wrapper--no-desc .video__link:after {
  width: 223px\9;
  height: 223px\9;
  margin: -111px 0 0 -111px\9; }
.video-wrapper.video-wrapper--no-desc .video__description__title {
  color: #fff;
  font-size: 21px ;
  font-size: 1.3125rem ; }
.video-wrapper.video-wrapper--no-desc .video__description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 30px ;
  padding:  1.25rem 1.875rem ;
  color: #fff;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.3);
  padding-right: 170px ;
  padding-right: 10.625rem ; }
  .video-wrapper.video-wrapper--no-desc .video__description .video__description__body {
    color: #b3b3b3; }

.brand-blog {
  background-color: #fff; }
  .brand-blog:hover .brand-blog__meta {
    padding: 0;
    border: none; }
  .brand-blog .brand-blog__header {
    /*padding-bottom: 25px ;
    padding-bottom: 1.5625rem ;*/ }
  .brand-blog .brand-blog__title {
    font-size: 32px ;
    font-size: 2rem ;
    color: #000;
    line-height: 1;
    text-align: inherit; }
  .brand-blog .brand-blog__more {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    padding: 10px 12px ;
    padding:  0.625rem 0.75rem ;
    margin-left: 10px ;
    margin-left: 0.625rem ;
    border-left: 1px solid #e1e1e1; }
  .brand-blog .brand-blog__thumbnail {
    margin: 0 auto;
    text-align: center; }
    .brand-blog .brand-blog__thumbnail > img {
      padding: 5px ;
      padding: 0.3125rem ;
      -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
      border: 1px solid #e1e1e1;
      display: inline-block; }
  .brand-blog .brand-blog__body__title,
  .brand-blog .brand-blog__body__title a {
    color: #000;
    font-size: 18px ;
    font-size: 1.125rem ;
    margin-bottom: 0; }
  .brand-blog .brand-blog__meta {
    position: static;
    border: none;
    background-color: transparent;
    color: #999 !important;
    font-size: 11px !important;
    font-size: 0.6875rem !important;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    padding: 0;
    min-width: auto;
    border: none; }
  .brand-blog .brand-blog__body__excerpt {
    line-height: 1.5;
    color: #666;
    font-size: 12px ;
    font-size: 0.75rem ; }
  .columns-section .brand-blog {
    /*-webkit-box-shadow: inset 0 0 87px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: inset 0 0 87px rgba(0, 0, 0, 0.11);
    box-shadow: inset 0 0 87px rgba(0, 0, 0, 0.11);*/
    width: 478px !important;
    height: 478px !important;
    /*width: 428px !important;
    height: 428px !important;
    padding: 25px ;
    padding: 1.5625rem ;*/ }
    .columns-section .brand-blog .brand-blog__title {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle; }
  .brand-blog.brand-blog--post {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 30px ;
    padding-bottom: 1.875rem ;
    margin-bottom: 30px ;
    margin-bottom: 1.875rem ; 
    margin-left: 30px;
    margin-right: 30px;
  }
    .brand-blog.brand-blog--post:last-of-type {
      border: none;
      padding-bottom: 0;
      margin-bottom: 0; }
    .brand-blog.brand-blog--post .brand-blog--post__title,
    .brand-blog.brand-blog--post .brand-blog--post__title a {
      text-transform: none;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 22px ;
      font-size: 1.375rem ;
      color: #000;
      text-align: left; }
    .brand-blog.brand-blog--post .brand-blog__body > p {
      margin: 1.5em 0;
      font-size: 12px ;
      font-size: 0.75rem ;
      color: #666; }
    .brand-blog.brand-blog--post .brand-blog__thumbnail {
      text-align: inherit; }

.action-button {
  padding: 5px 20px 3px ;
  padding:  0.3125rem 1.25rem 0.1875rem ;
  text-align: center;
  text-transform: uppercase;
  font: 12px/24px "Swiss721CondensedBold", Arial, Helvetica, sans-serif;
  display: inline-block !important;
  border-width: 1px;
  border-style: solid; }

.action-button--black {
  color: black;
  border-color: #bababa;
  background-color: #fff; }

.action-button--transparent {
  color: black;
  border-color: #bababa;
  background-color: none; }

.action-button--white {
  color: white;
  border-color: white; }

.grid-list {
  overflow: hidden;
  margin-right: -20px ;
  margin-right: -1.25rem ;
  font-size: 0; }
  .grid-list .grid-item {
    font-size: 12px ;
    font-size: 0.75rem ;
    display: inline-block;
    vertical-align: top;
    width: 47.91667%;
    margin: 0 20px 20px 0 ;
    margin:  0 1.25rem 1.25rem 0 ; }
  .grid-list.grid-list--thrids .grid-item {
    width: 30.57325%; }

.popup-vide-thumb-player-wrapp {
  width: 904px;
  height: 450px;
  position: relative;
  cursor: pointer; }
  .popup-vide-thumb-player-wrapp:before {
    content: '';
    background: url(../images/brands/splash/play-button.png);
    width: 223px;
    height: 223px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -111px;
    margin-left: -111px; }

.sidenav-list {
  list-style: none;
  margin: 0 0 20px ;
  margin:  0 0 1.25rem ;
  padding: 0 0 20px ;
  padding:  0 0 1.25rem ; }
  .sidenav-list:last-of-type {
    border-bottom: none; }
  .sidenav-list > li {
    line-height: 2; }
    .sidenav-list > li input {
      vertical-align: baseline; }
    .sidenav-list > li label,
    .sidenav-list > li span {
      font-size: 11px ;
      font-size: 0.6875rem ; }
    .sidenav-list > li span {
      color: #999; }
  .sidenav-list .sidenav__title {
    font-weight: bold;
    color: #000; }

.sidenav-list--static .sidenav-list__title {
  font-size: 16px ;
  font-size: 1rem ;
  font-family: "Swiss721CondensedBold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #000; }
.sidenav-list--static a {
  color: #666; }
  .sidenav-list--static a:hover, .sidenav-list--static a.active {
    color: #000;
    font-weight: bold;
    text-decoration: none; }

.static-pages-wrapper > .col-main {
  width: 746px; }
.static-pages-wrapper > .col-left {
  width: 153px; }
.static-pages-wrapper > .section {
  padding: 30px ;
  padding: 1.875rem ; }
  .static-pages-wrapper > .section .static-page__header {
    text-align: left;
    color: #000;
    font-size: 32px ;
    font-size: 2rem ;
    margin-bottom: 30px ;
    margin-bottom: 1.875rem ; }
  .static-pages-wrapper > .section .static-page__image {
    margin-bottom: 30px ;
    margin-bottom: 1.875rem ; }
  .static-pages-wrapper > .section p {
    font-size: 13px ;
    font-size: 0.8125rem ;
    margin-bottom: 1em; }
.static-pages-wrapper .static-article__title {
  font-size: 18px ;
  font-size: 1.125rem ;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  line-height: 1.5; }

.support-block-wrap {
  overflow: hidden;
  margin-right: -40px ;
  margin-right: -2.5rem ; }

.support-block {
  border: 1px solid #ebebeb;
  float: left;
  width: 32.57373%;
  margin: 0 40px 20px 0 ;
  margin:  0 2.5rem 1.25rem 0 ;
  padding: 45px ;
  padding: 2.8125rem ;
  text-align: center; }
  .support-block .support-block__title {
    text-transform: none;
    font-size: 20px ;
    font-size: 1.25rem ;
    letter-spacing: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 30px ;
    margin-bottom: 1.875rem ; }
    .support-block .support-block__title:after {
      content: '';
      display: block;
      position: relative;
      width: 140px ;
      width: 8.75rem ;
      height: 1px ;
      height: 0.0625rem ;
      top: 10px ;
      top: 0.625rem ;
      left: 60px ;
      left: 3.75rem ;
      background-color: #ebebeb; }
  .support-block .support-block__info {
    margin-bottom: 20px ;
    margin-bottom: 1.25rem ; }
    .support-block .support-block__info:last-of-type {
      margin-bottom: 0; }
    .support-block .support-block__info > span,
    .support-block .support-block__info > p {
      color: #000; }
    .support-block .support-block__info > span {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px ;
      font-size: 0.875rem ;
      text-transform: capitalize;
      display: block; }
    .support-block .support-block__info > p {
      margin-bottom: 0;
      font-size: 42px ;
      font-size: 2.625rem ;
      line-height: 1; }

.brand-shukran-ad-small {
  background: #fbce7b;
  float: left;
  margin: 0 0 0 4px;
  padding: 0 20px 0 20px;
  width: 197px;
  heigh: 478px; }
  .brand-shukran-ad-small .logo-shukran {
    margin: 20px 0 0 0; }
  .brand-shukran-ad-small h3 {
    margin: 70px 0 0 0;
    color: #000;
    text-transform: uppercase;
    font-family: "Swiss721CondensedBold", Arial, Helvetica, sans-serif;
    font-size: 16px; }
  .brand-shukran-ad-small p {
    color: #000;
    font-size: 13px;
    line-height: 18px; }
  .brand-shukran-ad-small .action-button {
    position: absolute;
    bottom: 20px;
    left: 20px; }

.brand-instagram-widget {
  width: 719px;
  height: 478px; }
  .brand-instagram-widget ul {
    list-style: none;
    margin: 0 0 0 -5px;
    padding: 0; }
    .brand-instagram-widget ul li {
      display: inline-block;
      margin: 0 0 5px 5px;
      float: left; }
      .brand-instagram-widget ul li img {
        width: 156px;
        height: 156px; }
  .brand-instagram-widget .brand-instagram-widget-tile {
    position: absolute;
    top: 161px;
    width: 156px;
    height: 136px;
    padding: 20px 0 0 0;
    background: #eb008d;
    z-index: 8;
    text-align: center; }
    .brand-instagram-widget .brand-instagram-widget-tile b {
      font-family: "Swiss924BTRegular", Arial, Helvetica, sans-serif;
      font-weight: normal;
      color: #fff;
      text-transform: uppercase;
      font-size: 36px; }
    .brand-instagram-widget .brand-instagram-widget-tile strong {
      color: #fff;
      font-weight: nornal; }
    .brand-instagram-widget .brand-instagram-widget-tile span {
      min-width: 107px; }

.video__description .splash-tv {
  position: absolute;
  right: 30px ;
  right: 1.875rem ;
  bottom: 16px ;
  bottom: 1rem ; }

.brand-banner {
  margin-bottom: 30px ;
  margin-bottom: 1.875rem ; }

.sub-title__intro {
  max-width: 455px ;
  max-width: 28.4375rem ;
  text-align: center;
  margin: 20px auto 0; }

.application-form {
  overflow: hidden; }
  .application-form .grid-item {
    width: 360px; }
    .application-form .grid-item:first-child {
      border-right: 1px solid #e0e0e0; }

.popup--model-folio-application .popup-in {
  padding: 25px ;
  padding: 1.5625rem ; }

.model-folio__popup__header {
  margin-bottom: 25px ;
  margin-bottom: 1.5625rem ; }
  .model-folio__popup__header > small {
    display: block; }

.model-folio__popup__title {
  font-size: 32px ;
  font-size: 2rem ;
  color: #000;
  margin-bottom: 25px ;
  margin-bottom: 1.5625rem ; }

.model-folio__popup__subtitle {
  font-size: 16px ;
  font-size: 1rem ;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  margin: 0;
  font-weight: bold; }

.form__field-wrapper {
  overflow: hidden;
  margin-top: 15px ;
  margin-top: 0.9375rem ; }
  .form__field-wrapper select {
    width: 100%; }

.form__col {
  float: left;
  margin: 0 15px 0 0 ;
  margin:  0 0.9375rem 0 0 ; }

.form__col--half {
  width: 165px; }

.form__col--one-third {
  width: 110px; }

.form__col--two-thirds {
  width: 219px; }

.form__label {
  display: block;
  cursor: pointer; }

.form__field {
  padding: 5px 10px ;
  padding:  0.3125rem 0.625rem ;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  width: 144px;
  -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.14);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.14); }
  .form__field[id="application-email"] {
    width: 325px; }
  .form__field[id="application-country-code"] {
    width: 86px; }
  .form__field[id="application-phone"] {
    width: 200px; }

.form__info {
  clear: both;
  padding: 15px 0 ;
  padding:  0.9375rem 0 ;
  margin-bottom: 15px ;
  margin-bottom: 0.9375rem ;
  border-width: 1px 0;
  border-style: solid;
  border-color: #e0e0e0; }
  .form__info .model-folio__popup__subtitle {
    margin-bottom: 15px ;
    margin-bottom: 0.9375rem ; }
  .form__info > div {
    oveflow: hidden; }
  .form__info [id="application-subscribe"] {
    float: left;
    margin-right: 10px ;
    margin-right: 0.625rem ; }
  .form__info [for="application-subscribe"] {
    overflow: hidden;
    display: block;
    cursor: pointer; }
    .form__info [for="application-subscribe"] > p {
      margin: 0; }
      .form__info [for="application-subscribe"] > p strong {
        color: #000; }

.popup--model-folio-confirmation {
  max-width: 400px ;
  max-width: 25rem ; }
  .popup--model-folio-confirmation .popup-in {
    background-image: url(../images/brands/splash/confirmation-tick.png);
    background-position: right center;
    background-repeat: no-repeat; }
  .popup--model-folio-confirmation .model-folio__popup__message {
    padding-right: 100px ;
    padding-right: 6.25rem ; }

.model-folio-gallery .col-left {
  width: 175px; }
.model-folio-gallery .col-main {
  width: 765px; }
.model-folio-gallery .model-folio-gallery__item {
  position: relative; }
.model-folio-gallery .model-folio-gallery__thumbnail {
  position: relative;
  overflow: hidden;
  display: block; }
  .model-folio-gallery .model-folio-gallery__thumbnail:hover .model-folio-gallery__item__album-link {
    bottom: 0; }
  .model-folio-gallery .model-folio-gallery__thumbnail > img {
    display: block; }
  .model-folio-gallery .model-folio-gallery__thumbnail .model-folio-gallery__item__album-link {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 120px;
    -webkit-transition: bottom .2s ease-in-out;
    -moz-transition: bottom .2s ease-in-out;
    -ms-transition: bottom .2s ease-in-out;
    -o-transition: bottom .2s ease-in-out;
    transition: bottom .2s ease-in-out; }
.model-folio-gallery .model-folio-gallery__title {
  color: #000;
  font-size: 12px ;
  font-size: 0.75rem ;
  margin-bottom: 5px ;
  margin-bottom: 0.3125rem ; }
.model-folio-gallery .model-folio-gallery__item__meta {
  color: #999;
  display: block;
  font-size: 11px ;
  font-size: 0.6875rem ; }

.model-folio__slider .next,
.model-folio__slider .prev {
  top: 315px ;
  top: 19.6875rem ; }
.model-folio__slider .next {
  background-position: -81px -1199px; }
.model-folio__slider .prev {
  background-position: -1px -1199px; }
.model-folio__slider .switcher-holder {
  padding: 1em 0; }

.popup--model-folio-gallery .popup__description-meta {
  font-size: 11px ;
  font-size: 0.6875rem ;
  margin-bottom: 10px ;
  margin-bottom: 0.625rem ;
  color: #999;
  display: block; }
.popup--model-folio-gallery .popup__description-body {
  margin-bottom: 1em; }
.popup--model-folio-gallery.looks-gallery {
  margin: 0;
  padding: 0; }
.popup--model-folio-gallery .popup-in .look-details {
  padding: 0; }
  .popup--model-folio-gallery .popup-in .look-details .frame {
    width: auto; }
  .popup--model-folio-gallery .popup-in .look-details .look-info {
    width: auto;
    left: 0;
    right: 0; }
    .popup--model-folio-gallery .popup-in .look-details .look-info > div {
      background: url(../images/add-loader.gif) no-repeat center center; }
    .popup--model-folio-gallery .popup-in .look-details .look-info img {
      display: block; }
    .popup--model-folio-gallery .popup-in .look-details .look-info .loadonopen {
      height: 405px;
      width: auto;
      margin: 0 auto; }
  .popup--model-folio-gallery .popup-in .look-details .next,
  .popup--model-folio-gallery .popup-in .look-details .prev {
    width: 47px;
    height: 47px; }
  .popup--model-folio-gallery .popup-in .look-details .next {
    background-position: -47px -1270px;
    right: -24px; }
  .popup--model-folio-gallery .popup-in .look-details .prev {
    background-position: 0 -1270px;
    left: -24px; }
.popup--model-folio-gallery .image-gallery {
  padding: 10px 40px !important;
  padding:  0.625rem 2.5rem !important;
  background:  url(../images/add-loader.gif) no-repeat center center; }
  .popup--model-folio-gallery .image-gallery .gallery {
    width: auto; }
    .popup--model-folio-gallery .image-gallery .gallery,
    .popup--model-folio-gallery .image-gallery .gallery li,
    .popup--model-folio-gallery .image-gallery .gallery a,
    .popup--model-folio-gallery .image-gallery .gallery a > span {
      height: auto; }
    .popup--model-folio-gallery .image-gallery .gallery li,
    .popup--model-folio-gallery .image-gallery .gallery a,
    .popup--model-folio-gallery .image-gallery .gallery a > span {
      width: 165px; }
    .popup--model-folio-gallery .image-gallery .gallery li {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      filter: alpha(opacity=0.5);
      opacity: 0.5;
      transition: opacity .5s linear; }
      .popup--model-folio-gallery .image-gallery .gallery li:hover, .popup--model-folio-gallery .image-gallery .gallery li.active {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=1);
        opacity: 1; }
  .popup--model-folio-gallery .image-gallery .next,
  .popup--model-folio-gallery .image-gallery .prev {
    top: 50px;
    background: url(../images/btns.png) no-repeat 0 0;
    display: block !important;
    width: 12px;
    height: 20px; }
  .popup--model-folio-gallery .image-gallery .next {
    background-position: -712px -64px;
    right: 13px; }
  .popup--model-folio-gallery .image-gallery .prev {
    background-position: -695px -64px;
    left: 13px; }

.section.slider-fashionshow {
  background: #1b1b1b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1b1b1b 0%, #484848 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b1b1b), color-stop(100%, #484848));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1b1b1b 0%, #484848 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1b1b1b 0%, #484848 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1b1b1b 0%, #484848 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1b1b1b 0%, #484848 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b1b1b', endColorstr='#484848',GradientType=0 );
  /* IE6-9 */
  margin-bottom: -4px;
  padding: 20px 10px 20px 10px; }
  .section.slider-fashionshow .slider-fashionshow-header {
    overflow: auto; }
    .section.slider-fashionshow .slider-fashionshow-header .title {
      float: left;
      width: 60%;
      text-align: left; }
      .section.slider-fashionshow .slider-fashionshow-header .title h2 {
        font-size: 32px;
        color: #fff;
        text-align: left;
        margin: 0 0 20px 20px;
        padding: 0; }
    .section.slider-fashionshow .slider-fashionshow-header .social {
      padding: 7px 20px 0 0; }
    .section.slider-fashionshow .slider-fashionshow-header .social-but {
      display: inline-block;
      float: right; }
  .section.slider-fashionshow .prev,
  .section.slider-fashionshow .next {
    top: 200px; }
  .section.slider-fashionshow .prev {
    left: -45px; }
  .section.slider-fashionshow .next {
    right: -45px; }
  .section.slider-fashionshow .gallery-holder {
    width: 900px;
    height: 455px;
    margin-left: 20px;
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.3); }
    .section.slider-fashionshow .gallery-holder ul li {
      margin: 0;
      padding: 0;
      width: 900px;
      height: 455px; }
  .section.slider-fashionshow .popup-vide-thumb-player-wrapp {
    overflow: auto;
    width: 900px;
    height: 455px; }

.sidebar-twitter-widget {
  margin-top: 20px; }

.sidebar-instagram-widget {
  margin-top: 20px;
  border: 1px solid #eee;
  border-radius: 5px; }
  .sidebar-instagram-widget .sidebar-instagram-widget-header {
    padding: 7px 5px 7px 7px;
    border-bottom: 1px solid #e8e8e8;
    overflow: auto; }
    .sidebar-instagram-widget .sidebar-instagram-widget-header a {
      color: #333; }
    .sidebar-instagram-widget .sidebar-instagram-widget-header .sidebar-instagram-widget-title {
      padding: 3px 0 0 0;
      font-weight: bold;
      width: 40%;
      float: left; }
    .sidebar-instagram-widget .sidebar-instagram-widget-header .sidebar-instagram-widget-button {
      float: right; }
      .sidebar-instagram-widget .sidebar-instagram-widget-header .sidebar-instagram-widget-button a {
        padding: 2px 5px;
        font-size: 12px;
        font-weight: bold;
        color: #3e6382;
        display: block;
        border: 1px solid #e8e8e8;
        border-radius: 3px; }
        .sidebar-instagram-widget .sidebar-instagram-widget-header .sidebar-instagram-widget-button a:hover {
          border: 1px solid #ccc; }
        .sidebar-instagram-widget .sidebar-instagram-widget-header .sidebar-instagram-widget-button a span {
          display: inline-block; }
        .sidebar-instagram-widget .sidebar-instagram-widget-header .sidebar-instagram-widget-button a i {
          margin: 2px 5px 0 0;
          display: inline-block;
          float: left;
          width: 16px;
          height: 16px;
          background: url("//d36xtkk24g8jdx.cloudfront.net/bluebar/067d097/thirdparty/images/badges/ig-badge-sprite-16.png") no-repeat 0 0; }
  .sidebar-instagram-widget .sidebar-instagram-body {
    padding: 10px 2px 0 1px; }
    .sidebar-instagram-widget .sidebar-instagram-body ul {
      overflow: auto;
      margin: 0;
      padding: 0;
      list-style: none; }
      .sidebar-instagram-widget .sidebar-instagram-body ul li {
        margin: 0;
        padding: 0;
        display: inline-block;
        float: left; }
        .sidebar-instagram-widget .sidebar-instagram-body ul li a {
          display: inline-block;
          float: left;
          width: 73px;
          height: 73px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          margin: 0 0 8px 8px; }
          .sidebar-instagram-widget .sidebar-instagram-body ul li a img {
            width: 100%; }
          .sidebar-instagram-widget .sidebar-instagram-body ul li a:hover {
            border: 1px solid rgba(0, 0, 0, 0.5); }
.ad.alt24 span {
	z-index: 999;
	left:32px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
	border:none;
	cursor: pointer;
}

/* Store Locator Page */
#main .locate-box {
	float: left;
	width: 226px;
	padding: 21px 15px 0 16px;
	height: 500px;
	background-color: #E4E4E4;
    margin-top: -3px;
}
#main .locate-box h3 {
	margin: 0 0 13px;
	font-size: 12px;
	line-height: 16px;
	color: #666;
	font-weight: bold;
}
#main .location-form-3 {
	overflow: hidden;
	margin: 0 0 9px -3px;
}
#main .location-form-3 label {
	float: left;
	background: url(../images/img76.gif) no-repeat;
	height: 24px;
	width: 14px;
	overflow: hidden;
	text-indent: -9999px;
	margin: 0 9px 0 0;
}
#main .location-form-3 .row {
	float: left;
	width: 172px;
}
.location-form-3 .text {
	float: left;
	font-size: 12px;
	width: 137px;
	border: none;
	background-color: #fff;
	padding: 4px 0px 5px 5px;
}
#locate_input {
    line-height: 10px;
    line-height: 22px \9;
    *line-height: 22px;
}
.location-form-3 .btn-search {
	border: none;
	cursor: pointer;
	padding: 0;
	overflow: hidden;
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	height: 26px;
	width: 27px;
	background: url(../images/icon-go.png) no-repeat;
}
.results {
	margin: 0 0 0 -3px;
	padding: 1px 0 8px;
	list-style: none;
	font-size: 12px;
	line-height: 14px;
}
#main .map-holder {
	float: left;
	width: 702px;
	position: relative;
    margin-top: -3px;
}
.map-holder #mapview {
    height: 500px;
	width: 702px;
}
.results .active .number {
background: url(../images/bg-number-active.gif) no-repeat;
}

.results li {
	border-bottom: 1px solid #BFBFBF;
	margin: 0 0 4px;
	overflow: hidden;
	padding: 0 0 8px 8px;
	cursor: pointer;
}
.results .number {
	float: left;
	margin: 0 7px 0 0;
	background: url(../images/bg-number.gif) no-repeat;
	font-size: 15px;
	line-height: 17px;
	color: white;
	width: 37px;
	height: 35px;
	padding: 10px 0 0;
	text-align: center;
	font-weight: bold;
}
.results .details {
	overflow: hidden;
	padding: 2px 0 0;
}
.results .title {
	display: block;
	margin: 0 0 1px;
	font-weight: bold;
}
.results address {
	padding: 0;
	font-style: normal;
	font-size: 11px;
}
.map-holder .popup-holder .popup {
	position: absolute;
	/*top: 67px;
	left: 125px;*/
	top: 41px;
	left: 128px;
	width: 292px;
	background: url(../images/popup-t.png) no-repeat;
	padding: 7px 0 0;
	z-index: 15;
	display: block;
}
.map-holder .popup .holder {
	background: url(../images/popup-b.png) no-repeat 0 100%;
	padding: 0 0 58px;
}
.map-holder .popup .frame {
	background: url(../images/popup-c.png) repeat-y;
	padding: 4px 18px 8px 14px;
	position: relative;
	font-size: 12px;
	line-height: 15px;
	width: 265px;
	min-height: 140px;
}
.map-holder h4 {
	margin: 0;
	padding: 0 0 3px;
	border-bottom: 1px solid #F1F1F1;
	font-size: 16px;
	line-height: 18px;
	color: #333;
	font-weight: bold;
}
.map-holder address span {
	display: block;
}
.map-holder address {
	font-style: normal;
}
.map-holder dl {
	font-size: 11px;
    margin: 0;
}
.map-holder dl dt {
	float: left;
	clear: left;
	margin: 0 5px 13px 0;
	font-weight: bold;
	width: 47px;
    text-transform: capitalize;
}
.map-holder dl dd {
	margin: 0 0 13px;
}
.map-holder .link-more {
	color: #D90406;
	padding: .5em 0;
	background: url(../images/arrow-12.gif) no-repeat 100% 4px;
	font-size: 11px;
    display: block;
    text-decoration: none;
}

#mapview .map-get-directions{
    width: 100%;
    margin: 0 0 5px;
}

.map-holder .search-popup,
.map-holder .search-popup fieldset {
    margin: 0;
}

.map-holder .search-popup .text {
	font-size: 12px;
	color: #636363;
    border: 1px solid #C7C7C7;
}
.map-holder .search-popup .btn {
    border: 1px solid #444;
    margin-left: -1px;
}
.store-custom-labels {
	color: white;
	font-family: "Lucida Grande","Arial",sans-serif;
	font-size: 24px;
	height: 30px;
	padding-left: 17px;
	padding-top: 9px;
	text-align: center;
	white-space: nowrap;
}
.map-holder img{
	max-width:none;
}
.map-holder .popup-holder {
	position: absolute;
}
.map-holder address {
padding: .2em 0 0.6em;
font-style: normal;
border-bottom: 1px solid #F1F1F1;
margin: 7px 0;
display: block;
}
#close-beacon {
	background: url("../images/close.gif") no-repeat scroll 0px 0 transparent;
	cursor: pointer;
	display: block;
	height: 16px;
	position: absolute;
	left: 390px;
	text-indent: -9999px;
	/*top: 89px;*/
	top: 66px;
	width: 16px;
}
.paging { overflow:hidden;}
.paging ul {
	margin:0;
	padding:0;
	list-style:none;
	float:right;
	font-size:11px;
	line-height:15px;
	font-weight:bold;
	color:#636363;
}
.paging ul li {
	float:left;
	margin:0 0 0 3px;
}
.paging ul li a {
	color:#fff;
	background:#d90406;
	float:left;
	width:16px;
	text-align:center;
}
.paging ul li a:hover {
	text-decoration:none;
	background:none;
	color:#636363;
}
.paging ul li span {
	float:left;
	width:16px;
	text-align:center;
}		
.btn-secondary {
	background: #444 url(../images/submit-btn-arrow.png) no-repeat 50% 50%;
	padding: 1px 11px 5px;
	line-height: normal;
	border: none;
	text-indent: -9999px;
	color: #fff;
}
.ac_results {  border: 1px solid;  overflow: hidden;  position: absolute;  z-index: 999;  min-width:166px; font-family: arial, sans-serif; font-size:11px;}
.ac_results ul {  list-style: none;  list-style-image: none;  margin: 0;  padding: 0;}
#navigation.closed {    border-bottom: 1px solid #CCCCCC;    margin-bottom: 20px;}
.ac_results li {  background: #fff;  color: #333;  cursor: default;  white-space: pre;  padding: 1px 5px;  background:#f7f7f7;}
li.ac_over {    background-color: rgb(132, 134, 138);    color: white;}

/*for contact us page*/
.col-main label {
	display: block;
	font-weight: bold;
}
.col-main .contactus-checkbox label {
	display: inline !important;
	font-weight: normal;
}
.mainheading {
    color: #656565;
    font: 30px/1.1 'Din',Arial,Verdana,Helvetica,sans-serif;
    margin: -2px 0 0;
    overflow: hidden;
    padding: 0 0 6px;
}
#contactus_top {
    min-height: 74px;
}
#contactus_top {
    background-color: #F9F9F9;
    border-bottom: 1px dotted #393939;
    border-top: 1px dotted #393939;
    font-family: Helvetica,Arial,Verdana,sans-serif;
    margin: 0 0 15px;
    padding: 18px 15px 26px;
}
.page-contact-us .col-main {
    padding-bottom: 10px;
}
div.contactus_toptext {
    float: left;
    font-family: Helvetica;
    margin-right: 15px;
    width: 200px;
}

p.contactus_top_heading, label.contactus_top_heading {
    color: #666666;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 0;
}
form.form_contactus_toptext {
    float: left;
    font-family: Helvetica;
    padding-left: 15px;
    width: 200px;
}

.form-item-request-for > legend{
    font-weight: bold;
}

.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
}
#contactus_tabs_heading {
    width: 100%;
}
#contactus_tabs_heading {
    border-bottom: 1px solid #E3E3E3;
    /*margin: 0 10px;*/
    padding: 0;
}
#contactus_tabs_heading ul {
    background: none repeat scroll 0 0 transparent;
    border-top: 1px solid white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#contactus_tabs_heading ul li.current-tab {
    border-bottom: 1px solid #000;
    color: #8F8F8F;
}
#contactus_tabs_heading ul li {
    background: none repeat scroll 0 0 transparent;
    display: block;
    float: left;
    font-size: 13px;
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 0 5px 0 0;
}
#contactus_tabs_heading li {
    font-family: Arial;
}
#contactus_tabs_heading ul li a {
    color: #7698E7;
    text-decoration: none;
}
#contactus_tab_content h3 {
    margin-top: 1em;
}
#contact-us-form .form-item-onmind {
    margin-bottom: 1px;
    margin-top: 0;
}
label.contactus_feedback_heading {
    color: #656565;
    display: block;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
select.contactus-select {
    border: 1px solid #D6D7CF;
    color: #999999;
    height: 22px;
    line-height: 20px;
    /*margin: 0 0 10px;*/
    padding: 2px 2px 2px 4px;
}
.inputwide {
    width: 480px;
}
/*
input, textarea, select {
    vertical-align: middle;
}
*/
.contactus-input option {
    padding: 3px;
}
textarea.contactus-textarea {
    background: url("../images/inputbox_gradient.png") repeat-x scroll left top transparent;
    border: 1px solid #D6D7CF;
    color: #999999;
    height: 126px;
    margin: 0 0 10px;
    padding: 4px;
}
label.contactus_feedback_heading, p.contactus_feedback_heading {
    clear: both;
    padding: 0;
}

p.contactus_feedback_heading {
    margin-bottom: 0;
}
.form-item-reach-1 {
    margin-top: 1px;
}
#contactus_feedback_email {
    margin-bottom: 10px;
}
input.contactus-input {
    border: 1px solid #D6D7CF;
    color: #999999;
}


#otherdetails_input{
    left: 23px;
    margin-bottom: -10px;
    position: relative;
    top: -33px;
    *top: -37px;
}

#request-for{
    margin-bottom: 0;
}

#edit-request-for > p{
    margin-bottom: .8em;
}

.inputshort {
    width: 185px;
}
.contactus_reach_or {
    font-weight: bold;
    margin: 0 10px;
    position: relative;
}
.form-item-company-name {
    margin-bottom: 0;
    margin-top: 1px;
}
.submit-fieldset {
    display: block;
    margin: 10px 0;
    width: 100%;
    border: 0 none;
}

.contactus_submit {
    background-color: #444;
    padding: .7em 1.2em;
    line-height: normal;
    border:none;
    color: #fff;
	margin-top: 10px;
}
#contactus_cancel {
    color: #7698E7;
    font-size: 12px;
    line-height: 1;
    position: relative;
    text-decoration: underline;
    margin-left: 8px;
		top: 5px;
}
#status_msg {
    float: left;
    margin-left: 15px;
    margin-top: -10px;
    position: relative;
}
#contactus_feedback_messageReceived {
    color: #4B3905;
    float: right;
    font-size: 11px;
    line-height: 1;
    margin: 3px 0 0;
    padding: 5px 0 5px 30px;
    width: 315px;
   /* background: url("../images/cross.png") no-repeat scroll 5px 2px #FEFBCE;*/
}
.inputnormal {
    width: 335px;
}
#wizard-form-wrapper-receives-updates {
    border-right: 1px solid #F2F2F2;
    margin: 0;
    padding: 0 20px 0 0;
}
#contactus_left {
    border-right: 1px solid #FBFBFB;
    float: left;
    margin: 0 0 30px;
    padding: 0;
    width: 350px;
}
#receives-updates-form .form-item-inbox {
    margin-top: 0;
}
#contactus_cityname{
	width: 156px;
	border: 1px solid #D6D7CF;
    font-size:12px;
	padding: 2px 2px 2px;
}

#contactus_cityname + .btn{
    margin-left: -4px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
	padding-top: 2px;
padding-bottom: 9px;
}
.page-receive-updates #column_right{
	float: right;
}
#contactus_top .btn-secondary {
	margin-left: -4px;
}
/*Contact ud ended */

.custom-dropdown{display:none}.dropdown{display:inline-block;margin:0}.dropdown ul,.dropdown dd,.dropdown dt{margin:0;padding:0;position:relative;z-index:99}.dropdown,.dropdown dd{position:relative}.dropdown a{text-decoration:none;outline:none;color:#737373}.dropdown span.value{display:none}.dropdown .flag{border:none;vertical-align:middle;margin-right:2px;margin-right:0.2rem}.dropdown .ae .flag{background-image:url(../images/ae.png)}.dropdown .flagvisibility{display:none}.dropdown dt{font-weight:normal}.dropdown dt a{display:block;background:url(../images/dropdown-arrow.png) no-repeat scroll right 71%;padding:10px 33px 0 5px;}.dropdown dt a span{cursor:pointer;display:block}.dropdown dd ul{background-color:#fff;border:1px solid #ddd;left:0px;padding:5px 0px;position:absolute;top:2px;width:auto;min-width:75px;list-style:none}.dropdown dd a{padding:5px;display:block}.dropdown dd a:hover{background-color:#f1f1f1}#dropdown-country{font-size:11px;}#dropdown-country a{line-height:1}.ie8 #dropdown-country a{width:100px;width:10rem}#dropdown-country ul{right:0;left:auto;/*min-width:205px;*/top:10px}#dropdown-country ul li{float:none;/*width:50%*/}#dropdown-filter{text-align:left;margin-left:10px;margin-left:1rem}#dropdown-filter dt a{padding:0 0 0 20px;padding: 0 0 0 2rem;background:url(../images/filters-arrow.png) no-repeat left center}#dropdown-filter dd ul{padding:10px 20px;padding: 1rem 2rem;border-top:none}#dropdown-filter dd ul li:last-of-type a{border-bottom:none}#dropdown-filter dd a{border-bottom:1px solid #ddd}.offscreen{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}

#corporate-footer {
	clear:both;
	margin: 20px auto 0px;
  width: 910px
}
#corporate-footer-logo {
	float:left;
	margin-right:12px;
    margin-right: 12px;
}
#corp-logo {
	background:url("../images/footer-logo.png") no-repeat;
	width:190px;
	float:left;
	background-position:1px 3px;
	height:60px;
	margin-right:12px;
}
#corp-logo:hover { background-position: 1px 3px;}
#corporate-footer-links {
	float: left; padding-bottom: 20px;

}
#corporate-footer:hover a{
	color:#a6a6a6;
}
#corporate-footer:hover p {
	color:#aeaeae;
}
#corporate-footer:hover li {
	color:#aeaeae;
}
#corporate-footer:hover  #corporate-footer-logo {
	/*background-position: left -59px;*/
	background-position:0px -9px;
}
#corporate-footer-heading {
	font-family:arial,helvetica,sans-serif;
	font-size:11px;
	padding-top:8px;
	color:#a6a6a6;
	margin-bottom:5px;
	margin-top:0;
}
#corporate-footer ul {
	list-style:none;
	font-family:arial,helvetica,sans-serif;
	font-size:10px;
	color:#a6a6a6;
	margin:0;
	padding:0;
}
#corporate-footer li {
	display:inline;
	padding:0 4px;
	border-left:1px solid #ccc;
}
#corporate-footer li:first-child{
	border:none;
}
#corporate-footer li:first-child+li{
	border:none;
}
#corporate-footer li a {
	color:#a6a6a6;
}
/** css for corporate footer **/
ul.links{
	display: none !important;
}

#corporate-footer li {
	display: block;
	border-left: none;
}
#corporate-footer ul {
	margin-left: 19px;
	float: left;
}
#corporate-footer ul li strong{
	font-size:10px;
	font-weight:bold;
}
#corporate-footer ul  > ul {
margin-left: 0px;
padding-left : 0px;
float: left;
}
#corporate-footer:hover ul li
{
	color: #000;
}
/*for ie 7*/
#corporate-footer ul li ul{
margin-left: 0px;
padding-left : 0px;
float: left;
}

.brand-footer-country{
	width: 100%;
	float: right;
	margin-top:20px;	
}
.brand-footer-country #select-location{
	float: right;
}
.copyright{
	margin-top: 5px;
}
.copyright a{
	color: #999;
}
.copyright a:before {
content: "I";
padding: 10px;
padding: 1rem;
color: #999;
}	

.sitemap {
float: left;
width: 230px;
}
/* For Site Map Page */

.sitemap {
	float: left;
	width: 230px;
}
.content-box-3 {
	width: 228px;
	float: right;
}

.content-box-3 .store-locator, .content-box-3 .offers-box {
	background: #E4E4E4;
	padding: 15px 0 15px 15px;
	margin-right: 10px;
	margin-bottom: 15px;
}

#content_inner .content-box-3 .store-locator h3, #content_inner .content-box-3 .offers-box h3 {
	margin: 0 0 10px 0;
	font-size: 14px;
	line-height: 16px;
	color: #666;
	font-weight: bold;
}
#content_inner .content-box-3 .store-locator h4, #content_inner .content-box-3 .offers-box h4 {
	font-size: 12px;
	line-height: 14px;
	color: #999393;
	margin: 0 0 5px 0;
	font-weight: normal;
	padding-right: 20px;
	padding-bottom: 8px;
}
#content_outer .store-locator .location-form-3 {
	overflow: hidden;
	border:none;
	margin: 0;
	padding: 0;
}
.content-box-3 .store-locator .location-form-3 label {
	float: left;
	background: url(../images/img76.gif) no-repeat;
	height: 24px;
	width: 14px;
	overflow: hidden;
	text-indent: -9999px;
	margin: 0 9px 0 0;
}

#content_outer .content-box-3 .store-locator .location-form-3 .row {
	float: left;
	width: 120px;
	background: url(../images/location-form-3.gif) no-repeat;
	padding: 1px 0 2px;
}

.content-box-3 .store-locator .location-form-3 .text {
	float: left;
	border: none;
	background: none;
	line-height: 10px;
    line-height: 24px \9;
    *line-height: 24px;
	height: 24px;
	color: #636363;
	font-size: 11px;
	width: 73px;
	padding: 0 10px;
	border-image: initial;
}
.content-box-3 .location-form-3 .btn-search {
	float: right;
	margin: -1px 0 0 0;
	border: none;
	cursor: pointer;
	padding: 0;
	overflow: hidden;
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	height: 26px;
	width: 27px;
	background: url(../images/icon-go.png) no-repeat;
	border-image: initial;
}
.content-box-3 .store-locator, .content-box-3 .offers-box {
	background: #E4E4E4;
	padding: 15px 0 15px 15px;
	margin-right: 10px;
	margin-bottom: 15px;
}

.content-box-3 .offers-box a {
	padding: 6px 15px;
	font-size: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #D90406;
	color: white;
	text-decoration: none;
	display: block;
	margin-right: 15px;
}

.site-article .sitemap a:hover {
	text-decoration: underline;
}

.store-locator .location-form-3  fieldset{
	border:none;
	margin: 0;
	padding: 0;
}
.site-article{
	margin: 0 0 0 30px;

}
.site-article .sitemap a {
	color: #666;
}
.page-blog .blog-body .fleft {
    float: left;
    font: 14px/20px Arial,Helvetica,sans-serif;
    margin-right: 10px;
}

.page-blog .blog-body .posted-date-likes {
    height: 20px;
}
.blog-body p {
    margin: 0;
}
.blog-main {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0 20px;
}

/*extra css*/
.carousel_browser_banner .section{
	padding:0 0 0 0;
}
.category .facebook_box a, .category .shukran_box a, #stores .about_max_box a, .category .tour_box a, #stores .offers_box a, #stores .find_store_box a{
	width: auto;
}
#style_guide .image_container{
	margin-right: 60px;
}
#select-location label {
  display: inline-block;
}
.page-taxonomy *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.page-front-page *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.page-seasons .col:first-child{
	padding-bottom: 0px;
}
.page-taxonomy .bestsellers-block {
	width: 100%;
	height: 376px;
}
.page-taxonomy .bestsellers-block .gallery-container .gallery{
	width: 900px;
}
.page-taxonomy .gallery-container{
	width: 900px;
	height: 336px;
}

#offer-location-popup {
	width: 180px; padding: 10px;padding-bottom:4px; position: absolute; top: 0; left: 0; border: 1px solid #CCCCCC; color: #787474; background-color: #F5F8E2; -moz-box-shadow: 1px 3px 4px #444444; display: none; z-index: 999;
}
#offer-location-popup ul {
	padding-left: 0px;
	}
	#offer-location-popup li {
	list-style: none;
	 padding: 5px 0 5px 1px; border-bottom: 1px dotted #CCCCCC; font-size: 11px;
	}
	#offer-location-popup li:last-child { border-bottom:none; padding-bottom: 0; }

	#offer-location-popup div.inner-reference { position: relative; margin-top: -18px; background: url("../images/offer-location-popup-pointer.png") top left no-repeat; padding-top: 20px; }

#close-offer-location-popup { width: 14px; height: 12px; text-indent: -9999px; background: url("../images/close_button_sprite.png") 0px 0px no-repeat; display: block; cursor: pointer; position: absolute; top: 11px; right: -5px; padding-bottom: 2px; }
#close-offer-location-popup:hover{ width: 14px; height: 12px; text-indent: -9999px; background: url("../images/close_button_sprite.png") -16px 0px no-repeat;display: block; cursor: pointer; position: absolute; top: 11px; right: -5px; }

.offerspopup-heading {
	font-weight:bold;
	padding-top:6px;
}
.offerspopup-title {
	padding-bottom:0px;
	font-size:11px;
	color:#787474;
}

a.crouching-popup { cursor: pointer; border-bottom: 1px dashed #666666; color: #666666; }
a:hover.crouching-popup, a.crouching-popup.active { color: #c1d252; border-bottom-color: transparent; text-decoration: none; }
.offers-valid-note {
font-size: 8.6px;
font-family: arial;
color: #c7c7c7;
display: block;
margin-top: 12px;
}
.page-offers-ae .main-block{
	position: initial;
}
.brand-blog__header1{

position: absolute;
left: 0;
right: 0;
bottom: 0;
padding: 20px 30px;
padding: 1.25rem 1.875rem;
color: #fff;
/* background-color: #000; */
/* background-color: rgba(0, 0, 0, 0.3); */
padding-right: 170px;
padding-right: 10.625rem;
}
.columns-section .brand-blog .brand-blog__title1 {
display: inline-block;
vertical-align: middle;
font-size: 2rem;
color: #000;
line-height: 1;
text-align: inherit;
}
.brand-blog .brand-blog__more1 {
display: inline-block;
vertical-align: middle;
padding: 10px 12px;
padding: 0.625rem 0.75rem;
margin-left: 10px;
margin-left: 0.625rem;
}

.ad.alt1 .bestsellers-block {
float: left;
 margin: 0 0 0 0;
}
.main-block {
 padding: 7px 0 0;
}
#lms-email-offer{
width: 185px;
padding: 3px 0px 3px 7px;
}
.text-details {
  font-size: 13px;
  line-height: 18px;
  width: 478px;
  float: left;
  padding: 20px 26px;
}
#main-img {
border: 1px solid #EEEEEE;
/*width: 58%;*/
/*float: left;*/
margin-left: 26px;
margin-right: 26px;
}
.titletext{
 float:left;
 /* margin: 0 25px 0px!important; */
 width: 370px;
 margin: 0;
}
.pricetext{
float:right;
margin: 0px 182px 0px 0px!important;
}
.store-locate1 a{
color: #fff;
text-decoration: none;
}
.store-locate1{
/*margin-top: 47px;*/
width: 241px;
text-align: center;
background-color: red;
padding: 5px;
margin-left: 137px;
border-radius: 4px;
float: left;
}
.bestsellers-block .block-heading {
overflow: hidden;
font-size: 11px;
margin: 0 0 60px;
}
.product-gallery .image-gallery {
 padding: 0 0 0 0!important;
}
.popup-in{
 padding-bottom: 0px!important;
}
.product-details .text-details {
float: left;
width: 485px!important;
font-size: 13px;
line-height: 18px;
padding: 15px 25px 0;
}
.product-details .image-details {
position: relative;
/* float: left; */
width: 535px!important;
padding: 0 0 0 15px;
}
.product-details img {
height: 405px;
width: auto;
margin: 0 auto;
}
.titletext  {

font: bold 26px/30px Arial, Helvetica, sans-serif!important;

}
.product-details .text-details .price {
font-size: 26px!important;
}
.pricetext {
	width: 115px;
	font: bold 26px/30px Arial, Helvetica, sans-serif!important;
	margin: 0!important;
	text-align: right;
}
.product-details .store-locate1 {

margin-left: 130px;
}
.section.white-block {
width: 535px!important; 
/*padding-bottom: 5px!important;*/

}
.popup-in .pricetext {
float: right;
/*margin: 0px 26px 0px!important;*/
}