
#lms-blog-form .form-item-blog-categories ,#lms-blog-form .form-item-blog-year,#edit-blog-month, #edit-blog-month .form-item-blog-month{
	display: inline;
	padding-left: 6px;
	padding-right: 6px;
}

.form-item-blog-categories label, .form-item-blog-year label {
	float: left;
	line-height: 24px;
}

.form-item-blog-year {
	width: 234px!important;
	padding-left: 28px!important;
}
/*.form-item-blog-categories span, .form-item-blog-year span {
	border: none;
	}*/

	.jcf-select .jcf-select-text {
		text-align: right;
	}

	.block {
		border: none!important;
	}

	.sort-line .form-group .jcf-select .jcf-select-text {
		float: left;
	}

	.form-item-blog-year {
		border-left: 2px solid #edeff1;
		padding-left: 28px;
	}

	.month-set label.option {
		display: inline-block;
	}

	.sort-line .col-md-8{
		line-height: 1px!important;
	}

	div.line-height {
		line-height: 10px;
	}

	@media only screen and (min-width: 1024px) {
		div.line-height {
			line-height: 1px;
		}

		.month-set label.option {
			bottom: -5px;
		}

	}

	/* added */
	@media only screen and (min-width: 768px) and (max-width: 1024px) {
		#edit-blog-month .form-item-blog-month {
			padding-left: 0px;
		}
	}

	@media only screen and (max-width: 767px) {
		.brand-set ul {
			z-index: 2;
			top: 33px!important;
		}

	/*	.btn-menu {
			display: none!important;
		}*/
	}

	div.content form.search-form {
		display: none;
	}

	.brands-section h1 {
		font-size: 36px;
		margin: 17px 0 24px;
		text-transform: uppercase;
	}
	/*.top-bar {
		padding: 15px 0 2px 0!important;
	}*/
