@font-face {
    font-family: 'Swiss721CondensedRegular';
    src: url('../fonts/swiss721bt-romancondensed-webfont.eot');
    src: url('../fonts/swiss721bt-romancondensed-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/swiss721bt-romancondensed-webfont.woff') format('woff'),
        url('../fonts/swiss721bt-romancondensed-webfont.ttf') format('truetype'),
        url('../fonts/swiss721bt-romancondensed-webfont.svg#Swiss721CondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'Swiss721CondensedBold';
    src:url('../fonts/swiss721bt-boldcondensed-webfont.eot');
    src:url('../fonts/swiss721bt-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/swiss721bt-boldcondensed-webfont.woff') format('woff'),
        url('../fonts/swiss721bt-boldcondensed-webfont.ttf') format('truetype'),
        url('../fonts/swiss721bt-boldcondensed-webfont.svg#Swiss721CondensedBold') format('svg');
}
@font-face {
    font-family:'Swiss924BTRegular';
    src:url('../fonts/swiss924bt-webfont.eot');
    src:url('../fonts/swiss924bt-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/swiss924bt-webfont.woff') format('woff'),
        url('../fonts/swiss924bt-webfont.ttf') format('truetype'),
        url('../fonts/swiss924bt-webfont.svg#Swiss924BTRegular') format('svg');
}
@font-face {
    font-family:'AdobeGaramondProItalic';
    src:url('../fonts/agaramondpro-italic-webfont.eot');
    src:url('../fonts/agaramondpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/agaramondpro-italic-webfont.woff') format('woff'),
        url('../fonts/agaramondpro-italic-webfont.ttf') format('truetype'),
        url('../fonts/agaramondpro-italic-webfont.svg#AdobeGaramondProItalic') format('svg');
}
@font-face {
    font-family: 'ITCKabelRegular';
    src: url('../fonts/itckabel-book-webfont.eot');
    src: url('../fonts/itckabel-book-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/itckabel-book-webfont.woff') format('woff'),
        url('../fonts/itckabel-book-webfont.ttf') format('truetype'),
        url('../fonts/itckabel-book-webfont.svg#ITCKabelRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MRockwellRegular';
    src: url('../fonts/mrockwell-webfont.eot');
    src: url('../fonts/mrockwell-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mrockwell-webfont.woff') format('woff'),
        url('../fonts/mrockwell-webfont.ttf') format('truetype'),
        url('../fonts/mrockwell-webfont.svg#RockwellRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RockwellRegular';
    src: url('../fonts/rockwell-webfont.eot');
    src: url('../fonts/rockwell-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rockwell-webfont.woff') format('woff'),
        url('../fonts/rockwell-webfont.ttf') format('truetype'),
        url('../fonts/rockwell-webfont.svg#RockwellRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RockwellLightRegular';
    src: url('../fonts/mrockwell-light-webfont.eot');
    src: url('../fonts/mrockwell-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mrockwell-light-webfont.woff') format('woff'),
        url('../fonts/mrockwell-light-webfont.ttf') format('truetype'),
        url('../fonts/mrockwell-light-webfont.svg#RockwellLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RockwellBold';
    src: url('../fonts/mrockwell-bold-webfont.eot');
    src: url('../fonts/mrockwell-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mrockwell-bold-webfont.woff') format('woff'),
        url('../fonts/mrockwell-bold-webfont.ttf') format('truetype'),
        url('../fonts/mrockwell-bold-webfont.svg#RockwellBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
#admin-menu .dropdown{
display:inline;
}
.colorbox_country_selector li, .common_inner .page_divider .section_small, .static .sidebar, #home_page .inside_max .col li, #home_page .inside_max .shukran_related, #stores .page_divider .col {
    width:225px
}.common_inner .page_divider>.col, #stores .page_divider .col_lrg {
    width: 470px
}
.seasons .top_banner, .seasons .top_banner .the_image, .seasons .top_banner .the_image img {
    width:960px!important;
}
.page-contact-us #contactus_tab_content h1, .page-receive-updates #contactus_tab_content h1, .page-partner-enquiry #contactus_tab_content h1, .page-media-enquiry #contactus_tab_content h1 {
	color: #666666;
	font-family: inherit;
	font-size: 14px;
	left: auto;
	letter-spacing: normal;
	line-height: inherit;
	margin: 10px 0;
	position: static;
	text-shadow: none;
	font-weight: bold;
}
.page-media-enquiry .form-item{
	margin-top: 0;
}
#home_page .section {
	text-align: left;
}
/*#dropdown-country ul {
    min-width: 305px;
}
#dropdown-country ul li {
	width: 33.33%;
}*/
/*.seasons .carousel_browser_nav, .section-tour .carousel_browser_nav {
    text-align: center;
}*/
/*.section-women-ar .brand-footer-newsletter input#lms-email-add, .section-women .brand-footer-newsletter input#lms-email-add, .section-men .brand-footer-newsletter input#lms-email-add {
	height: 19px;
}*/
/*.brand-footer-newsletter input {
	height: 26px;
}*/
.brand-nav .sub-nav-block .nav-block ul li a:hover {
	text-decoration: none;
}
.info-section .title-block {
    text-align: left;
}
.title-block a.full:hover {
    text-decoration: none;
}
.brand-nav .sub-nav-block .nav-block ul li {
    margin-top: 0;
}
.brand-nav .sub-nav-block .nav-block ul li a {
    color: #333333;
    font-size: 18px;
    font-weight: normal;
}
.section-media .main_content.js_main_content, .section-faq .main_content.js_main_content {
    background: none repeat scroll 0 0 #FFFFFF;
    float: right;
    margin-right: 0;
    padding: 1.875rem;
    width: 746px;
}
.section-media .mainbodyinner #column_left {
    float: left;
    margin-right: 15px;
    width: 440px;
}
.section-media .mainbodyinner #column_right {
    float: right;
    width: 225px;
}
.section-media .mainbodyinner #column_right #playlist {
    border-bottom: 1px dotted #CCCCCC;
    height: 200px;
    list-style-type: none;
    padding: 0;
}
.section-media .mainbodyinner #column_right #playlist li {
    float: left;
    margin-top: 5px;
    width: 111px;
}
.section-media .mainbodyinner #column_right #playlist li:nth-child(3), .section-media .mainbodyinner #column_right #playlist li:nth-child(7), .section-media .mainbodyinner #column_right #playlist li:nth-child(11), .section-media .mainbodyinner #column_right #playlist li:nth-child(15), .section-media .mainbodyinner #column_right #playlist li:nth-child(19), .section-media .mainbodyinner #column_right #playlist li:nth-child(23), .section-media .mainbodyinner #column_right #playlist li:nth-child(27) {
    clear: left;
    float: left;
}
.page_navigation.search-result-pagination {
    clear: both;
}
#news-pagination a {
    background: none repeat scroll 0 0 #666666;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 1.3;
    margin-right: 2px;
    padding: 1px 4px;
    text-decoration: none;
}
#news-pagination a:hover, #news-pagination a.prev:hover, #news-pagination a.next:hover, #news-pagination .active_page {
    background: none repeat scroll 0 0 #ED1C24;
}
.section-faq .section.brand-footer {
	clear: both;
}
.section-faq #faq_9 {
    margin: 13px 0;
}
.faq {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 10px;
}
.section-faq .category-footer {
    text-align: right;
}
.section-faq .category-footer a:after {
    content: "^";
    margin-left: 5px;
}
.section-faq .category-footer a {
    color: #999999;
    font-size: 10px;
    text-decoration: none;
}
.section-faq .faq dd {
    background: none repeat scroll 0 0 #F2F6F7;
    margin: 5px 0 10px;
    padding: 10px 20px;
}
.section-faq .col-left {
	float: none;
}
.dropdown img {
    display: inline-block;
}
.seasons .section_news p {
	text-align: center;
}
.discovery-post:nth-child(2n+1) {
	margin-right: 0;
}
.discovery-post {
	float: none;
	margin-bottom: 0;
	width: auto;
}
.page-front-page .columns-section .ad.alt11 {
    width: 478px;
}
.wrap-noclear {
    margin: 15px 0;
}
#corporate-footer {
    width: 960px!important;
}
.static h3 {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.section h4 {
    font-size: 13px;
}
.static-pages-wrapper .section {
  padding: 30px ;
  padding: 1.875rem ;
}
.static-pages-wrapper .col-main {
    width: 680px;
}
.two-cols .col-left {
    width: 220px;
}
.section-style-guide .main_content {
    margin: 0;
    width: auto;
}
.seasons .section.section_news {
    padding: 0;
}
.seasons .section_twiiter, .seasons .section_facebook, .carousel_browser_nav .slides a.selected .the_image {
    width: auto;
}
.seasons .section_news img {
    margin: 5px auto 0;
}
.seasons .section_news .the_image {
    width: 470px;
}
#main .locate-box {
    overflow-y: auto;
}
.map-holder #mapview {
    height: 520px;
}
.faq a:hover {
    cursor: pointer;
}
.map-holder dl dd {
    margin: 0 0 2px;
}
.map-holder dl dt {
    margin: 0 5px 2px 0;
}
.search-popup .btn-secondary {
    border-radius: 0 5px 5px 0;
    padding: 5px 15px 9px;
}
.category img {
    display:inline;
}
.section-style-guide #section1 {
    padding: 0;
}
.section-style-guide .image_container {
    margin: 0 0 0 70px!important;
}
.section-style-guide .slide_desc {
    width: 326px;
}
.section-style-guide .main_content.col-main.section .js_tabbed_nav, #style_guide .main_content {
    width: 900px;
    margin: 0;
}
.section-style-guide .field-items .main_content.col-main.section {
    padding: 30px 30px 0;
}
.brand-nav {
    width: 960px;
}
.find-store-link {
    background: none repeat scroll 0 0 #3EAEEE;
    border: 0 none;
    color: #FFFFFF;
    font-weight: bold;
    left: 75px;
    padding: 1px 6px;
    position: absolute;
    top: 57px;
}
.cat-popular li, .cat-popular .pic, .cat-popular li p.more {
    width: 220px;
}
.twitter-section .fb-list {
    color: #FFFFFF;
    font-size: 13px;
    line-height: 16px;
    list-style: none outside none;
}
.fb-list {
    padding: 0;
}
.seasons .section_facebook:after {
content: '';
position: absolute;
top: 15px;
left: 25px;
}
.twitter-section.blue {
    background-color: #01539F!important;
}
#corp-logo {
    background: url(../images/landmark-group-logo.png) no-repeat scroll 1px 3px ;/*ie8*/
    background: url(../images/landmark-group-logo.png) no-repeat scroll 1px 3px rgba(0, 0, 0, 0);
}
#corp-logo:hover {
    background-position: 1px -56px;
}
.offer-wrapper .offer-meta-row > ul {
    margin-top: 20px;
}
.col-main label {
    font-size: 13px!important;
}
.section-media .section h4 {
    padding: 0;
}
#sub_section11.sub_section {
    padding-bottom: 30px;
}
#sub_section14.sub_section {
    display: none;
}
.blog-main .loadmore {
margin: 0 auto 20px;
text-align: center;
width: 550px;
}
.blog-main .loadmore {
background: none repeat scroll 0 0 #F8F8F8;
border: 1px solid #CCCCCC;
margin-bottom: 20px;
text-align: center;
}
.blog-main .loadmore {
padding: 10px 0;
}
.loadmore p {
margin: 0;
}
.page-taxonomy-term.section-blog #main.gallery-inside {
    padding-top: 77px;
}
#cboxLoadedContent .close {
    /* display: none; */
}
#logo {
    display: none;
}
#stores .page_divider .col {
    margin-right: 0;
}
/* .video-wrapper .video__link span {
  background: url("../images/play-button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  content: "";
  display: block;
  height: 478px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
} */

.subsection.disabled {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

  /* IE 5-7 */
  filter: alpha(opacity=30);

  /* Netscape */
  -moz-opacity: 0.3;

  /* Safari 1.x */
  -khtml-opacity: 0.3;

  /* Good browsers */
  opacity: 0.3;
}

.video__link.open-popup1 span {
  background: url("../images/play-button.png") no-repeat scroll center center;
  border: none;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding:0;
}

#news-pagination .previous_link, #news-pagination .next_link {
    display: none;
}

.page-front-page #second-row-right-tile #nav {
    text-align: center;
	position:absolute;
	bottom:0;
}
.page-front-page .columns-section .ad {
	height:467px;
}
.page-front-page #second-row-right-tile #nav > a {
    background-color: #CCCCCC;
    border-radius: 20px;
    display: inline-block;
    height: 12px;
    outline: medium none;
    text-indent: 9999px;
    width: 12px;
	z-index: 999;
}
.page-front-page #second-row-right-tile #nav > a:hover, .page-front-page #second-row-right-tile #nav > a.activeSlide, .page-front-page #second-row-right-tile #navi > a:hover, .page-front-page #second-row-right-tile #navi > a.activeSlide {
	background-color: #fe000a;
}

.page-front-page .carousel-nav {
	width: 226px;
}
.page-front-page #nav a {
	margin-left: 5px !important;
	padding: 0px !important;
}
.brand-nav{
position: relative;
margin:15px auto;
padding-bottom:0px;
}
.page-taxonomy-term.section-blog #main.gallery-inside .main-block{
padding-top: 31px;
}
.main-gallery .brand-nav{
top:0px;
}
.section.white-block{
width: 800px;
min-height: 426px;
height: auto;
margin: 0px;
padding: 30px;
border-top: 0px;
}
.product-details{
margin: 0px;
}
.product-details .image-details{
width:58%;
}
.product-details .text-details{
width:38%;
}
.bestsellers-block .gallery-container .image-holder img{
border:1px solid #EEEEEE;
}
#imageDetails #main-img{
border:1px solid #EEEEEE;
}
.prod-item{
  width: 210px;
}
.prod-item__extra  span.price{
padding-top:10px;
vertical-align:top;
}
span.price.left {
width:70%;
text-align: left;
font: 12px/14px Arial, Helvetica, sans-serif;
color: #666;
}
span.price.right {
width:30%;
text-align: right;
}
span.price.left a strong{
color:#000;
}
span.price.left a:hover{
color:#000;
text-decoration:none;
}
.product-details .image-details{
padding:0px;
}
.product-details .container{
padding: 0;
}
.twitter-section.image {
background: url("../images/facebook_right1.png") no-repeat scroll center center;
}
.look-details .look-info h3.titletext{
width: 296px;
margin-bottom : 10px !important;
}
.popup-in h3.pricetext{
width: 106px;
text-align: right;
}
.look-details .store-locate1{
clear: both;
}

#colorbox, #cboxOverlay{position:fixed !important; top: 0 !important; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper{top: 10%;}
body{background: #f7f7f7 !important;}
#media-enquiry-form #otherdetails_input {width: 94%;}
#contact-us-form #contactus_feedback_email, #contact-us-form #contactus_feedback_phone, #contact-us-form #contactus_feedback_name, #partner-enquiry-form #contactus_partner_name, #partner-enquiry-form #contactus_partner_city, #partner-enquiry-form #contactus_partner_reach_email, #partner-enquiry-form #contactus_partner_reach_mobile, #media-enquiry-form #email_input1, #media-enquiry-form #mobile_input2, #media-enquiry-form #contactus_feedback_name, #media-enquiry-form #edit-publication{width: 97.40%;}
.look-details > .frame{height: 535px !important;}
.columns-block .block-heading {
  padding: 0 18px;
}
.white-block .block-heading .title h3 {
  border-right: none;
}
