	a.p-button-social, a.p-button-social:hover, a.p-button-social:visited {
		color: #fff;
		text-decoration: none;
	}
	.p-button-social.facebook {
		background: url(../images/facebook.png) no-repeat!important;
	}

	.p-button-social.twitter {
		background: url(../images/twitter.png) no-repeat!important;
	}

	.p-button-social {
		line-height: 2.4;
		display: inline-block;
		margin: 0 1px 1px;
		width: 65px;
		white-space: nowrap;
		position: relative;
		font-size: 11px;
		font-family: helvetica, arial, sans-serif;
		-webkit-font-smoothing: antialiased;
	}

  @media only screen and (min-width: 768px) {
    .share a.p-button-social {
      padding: 0 0 0 27px;
    }
  }

  @media only screen and (max-width: 767px) {
		.p-button-social {
			line-height: 1.7!important;
		}
	}