.grid-8 {
	width: 585px; 
	float: left;
	margin-right: 20px;
	min-height: 1px;
}
.node-type-blog .grid-8 {
  width: 575px;
  margin-top: 15px;
  }
/*.page-blog .grid-8 {
  width: 605px;
}
.page-blog .grid-4 {
  width: 325px;
  float: right;
}*/
.grid-4 {
	width: 315px;
	float: right;
	min-height: 1px;
}
.wrap{
	margin-bottom: 20px;
}
.box-main.pad-med{
	padding: 20px 20px 25px;
}
.box-main{
	background-color: white;
	-webkit-box-shadow: inset 0 -5px 0 #ededed, 0 2px 10px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 -5px 0 #ededed, 0 2px 10px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -5px 0 #ededed, 0 2px 10px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.15);
}
.social-links .like, .social-links .tweet {
  display: inline-block;
  vertical-align: middle; }
/* line 1, ../sass/layout/_blog.scss */
.cmh-blog {
  /* ==========================================================================
      `blog post
     ========================================================================== */
  /* ==========================================================================
      `sidebar
     ========================================================================== */ }
  /* line 6, ../sass/layout/_blog.scss */
  .cmh-blog .post-title {
    margin-bottom: 0; }
    /* line 8, ../sass/layout/_blog.scss */
    .cmh-blog .post-title a {
      color: #05233a; }
      /* line 10, ../sass/layout/_blog.scss */
      .cmh-blog .post-title a:hover, .cmh-blog .post-title a:focus {
        text-decoration: none; }
  /* line 17, ../sass/layout/_blog.scss */
  .cmh-blog .post-content img {
    max-width: 100%;
    border: 5px solid white;
    -webkit-box-shadow: 0 0 4px 0 #cccccc;
    -moz-box-shadow: 0 0 4px 0 #cccccc;
    box-shadow: 0 0 4px 0 #cccccc; }
  /* line 25, ../sass/layout/_blog.scss */
  .cmh-blog .posts-loader .loading {
    display: inline-block;
    background: url(../images/loader-white.gif) no-repeat;
    width: 21px;
    height: 5px; }
  /* line 38, ../sass/layout/_blog.scss */
  .cmh-blog .sidebar-list {
    border: 1px solid #e8e8e8;
    padding: 2px;
	margin: 0;
	list-style: none;
	}
    /* line 42, ../sass/layout/_blog.scss */
    .cmh-blog .sidebar-list li {
      font-family: 'ItcKabel', Arial, Verdana, Helvetica, sans-serif;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
      font-size: 16px;
      list-style: none;
      margin: 0;
      border-bottom: 2px solid white; }
      /* line 46, ../sass/layout/_blog.scss */
      .cmh-blog .sidebar-list li:last-child {
        border: 0; }
      /* line 49, ../sass/layout/_blog.scss */
      .cmh-blog .sidebar-list li > a {
        display: block;
        padding: 7px 15px 4px;
        background: #f6f6f6; }

        .cmh-blog .sidebar-list ul.posts  a {
          font-family: Arial, Verdana, Helvetica, sans-serif;
        }

        /* line 53, ../sass/layout/_blog.scss */
        .cmh-blog .sidebar-list li > a:hover, .cmh-blog .sidebar-list li > a:focus {
          background: #f2f2f2;
          text-decoration: none; }
    /* line 60, ../sass/layout/_blog.scss */
    .cmh-blog .sidebar-list ul {
      font-family: 'ItcKabel', Arial, Verdana, Helvetica, sans-serif;
      text-transform: none;
      font-size: 12px;
      padding-left: 20px;
      border-top: 2px solid white; 
	  margin: 0;
	  list-style: none;
	  }
    /* line 69, ../sass/layout/_blog.scss */
    .cmh-blog .sidebar-list .closed a:before {
      content: '+';
      font-family: unicode;
      margin-right: 5px; }
    /* line 74, ../sass/layout/_blog.scss */
    .cmh-blog .sidebar-list .closed .months, .cmh-blog .sidebar-list .closed .posts {
      display: none; }
    /* line 78, ../sass/layout/_blog.scss */
    .cmh-blog .sidebar-list .opened {
      background: #f2f2f2;
      color: #666666; }
      /* line 81, ../sass/layout/_blog.scss */
      .cmh-blog .sidebar-list .opened:before {
        content: '-';
        font-family: unicode;
        margin-right: 5px; }
    /* line 89, ../sass/layout/_blog.scss */
    .cmh-blog .sidebar-list .posts li {
      font-family: 'ItcKabel', Arial, Verdana, Helvetica, sans-serif;
      text-transform: none;
      font-size: 11px;
      font-weight: bold; }
  /* line 98, ../sass/layout/_blog.scss */
  .cmh-blog .rss-sub:before {
    content: '';
    width: 22px;
    height: 22px;
    background-position: -224px -404px;
    vertical-align: -6px;
    margin-right: 10px; }

/* line 2, ../sass/groups/_offers.scss */
.global-offers-header p {
  font-size: 16px; }

h4.heading-centered-lines {
  font-family: 'ItcKabel', Arial, Verdana, Helvetica, sans-serif;
  color: #05233a;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0px;	
  }
.wrap-noclear {
  margin: 15px 0 15px 10px; 
  }
.grid-8 {
width: 605px;
float: left;
margin-right: 0; 
/* min-height: 1px; */
}  
.grid-list{
margin-top: 14px;
margin-right:0;  
}  
.grid-list.grid-list--thrids .grid-item{
width: 282px;
display: inline-block;
margin: 0 1.25rem 1.25rem 0;
}
.model-folio-gallery .model-folio-gallery__thumbnail .model-folio-gallery__item__album-link{
line-height:168px;
}  
.blog-main .loadmore{
margin: 0 0 20px 0;
width: 585px;
}
.page-blog h3 {

  font-weight: bold !important;
  font: 17px/1.1 'ItcKabel', Arial, Verdana, Helvetica, sans-serif !important;
  height: 33px !important;
}
.model-folio-gallery .model-folio-gallery__item__meta {
color: #999;
display: block;
font-size: 11px;
font-size: 0.6875rem;
}

.action-button--white {
color: white;
border-color: white;
}
.action-button {
padding: 5px 20px 3px;
padding: 0.3125rem 1.25rem 0.1875rem;
text-align: center;
text-transform: uppercase;
font: 12px/24px "Swiss721CondensedBold", Arial, Helvetica, sans-serif;
display: inline-block !important;
border-width: 1px;
border-style: solid;
}
.model-folio-gallery .model-folio-gallery__thumbnail {
position: relative;
overflow: hidden;
display: block;
}
.model-folio-gallery .model-folio-gallery__thumbnail:hover .model-folio-gallery__item__album-link {
bottom: 0;
}
.model-folio-gallery .model-folio-gallery__thumbnail .model-folio-gallery__item__album-link {
position: absolute;
left: 0;
bottom: -100%;
width: 100%;
height: 100%;
background-color: #000;
background-color: rgba(0, 0, 0, 0.5);
text-align: center;
line-height: 120px;
-webkit-transition: bottom .2s ease-in-out;
-moz-transition: bottom .2s ease-in-out;
-ms-transition: bottom .2s ease-in-out;
-o-transition: bottom .2s ease-in-out;
transition: bottom .2s ease-in-out;
}
.model-folio-gallery .model-folio-gallery__thumbnail .model-folio-gallery__item__album-link {
line-height: 168px;
}
.model-folio-gallery .model-folio-gallery__thumbnail > img {
display: block;
}
.cmh-blog .container {
  text-align: left;
}
.body_summary{
	margin-bottom: 5px;
    height: 40px;
    overflow: hidden;
}
.container-c p {
  margin: 0 !important;
    font-family: 'ItcKabel', Arial, Verdana, Helvetica, sans-serif !important;
  font-size: 13px !important;
}
.full_panel{
	
	width: 97% !important;
	margin: 0 1.25rem 1.25rem 0;
}

.full_image{
	
	width:100% !important;
	
}
.full_image_read_more_panel{

	line-height: 374px !important;	
}

/*top nav for blog*/
  
.blog-main .top-nav{
	
	overflow: visible !important; 

}

.blog-main .top-nav ul {
overflow: visible !important; 
}


.blog-main .top-nav ul li {
	list-style-type: none;
	margin-left: 0px !important;
	padding: 0 0 10px 0px !important;
}

.blog-main .top-nav ul li ul li:hover { 

	/*background: #666;*/
	width: 223px;
	
}
.blog-main .top-nav ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
	width: 100%;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 95%;
	padding-left: 9px;
	background: #fff;

}

.blog-main .top-nav ul li ul li { 
  background: #fff;
  display: block;
  color: #fff;
  /* text-shadow: 0 -1px 0 #000; */
  width: 223px;
  line-height: 2;
  font-size: 15px;
}


.blog-main .top-nav ul li {
	
	font: bold 12px/18px sans-serif;
	display: inline-block;
	/*margin-right: -4px;*/
	position: relative;
	padding: 15px 20px;
	background: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	overflow: visible;

}
 .blog-main .top-nav ul li:hover {

	color: #fff;
	z-index : 2;
}
.blog-main .top-nav ul li ul {
	padding: 4px 1px 2px;
	position: absolute;
	top: 30px;
	left: 0;
	width: 150px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}
.blog-main .top-nav a:hover {
  text-decoration: none;
  color: #E5368F;
}
.blog-main .top-nav a {
  font-family: 'ItcKabel', Arial, Verdana, Helvetica, sans-serif;
  padding: 0px !important;
}
.related {
  box-shadow: none;
}
.cmh-blog .body_summary a, .related_blogs span a {
  color: #337ab7;
}
.cmh-blog .blog-post ol {
  list-style-type: decimal;
  margin-left: 30px;
}
.cmh-blog .blog-post p, .cmh-blog .blog-post li , .cmh-blog .body_summary{
  font-family:  Arial, Verdana, Helvetica, sans-serif !important;  
}

li.year > a {
  font-weight: bold;
}
.container-c .related_blogs ul li {
  margin-left: 0;
  margin-bottom: 20px;
  list-style-type: none;
}
.related_blogs h5 a {
  font-size: 15px;
}
.node-type-blog .blog-sidebar {
  margin-top: 20px;
}
.container-c .blog-post .post-content , .container-c .blog-post .post-content p{
  font-size: 14px !important;
}
.body_summary_links a{
	color: #fff !important;
	
}

.body_summary_links a:hover{
	color: #fff !important;
	text-decoration: none !important;
}