.news-holder p {
    margin-bottom: 12px;
}

.news-holder {
    /* max-width: 500px;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    font-size: 13px; */
}

.news-holder * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
  color: #336699;
  text-decoration: none;
}

.news-headlines {
  list-style: none;
  position: relative;
}

  .news-headlines li {
    padding: 5px 20px 5px 24px;
    margin-bottom: 15px;
    position: relative;
    z-index: 20;
    color: #336699;
  }

  .nh-anim {
    -webkit-transition: all .75s ease-out;
    -moz-transition: all .75s ease-out;
    -o-transition: all .75s ease-out;
    transition: all .75s ease-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  /* .news-headlines li:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #888;
    vertical-align: middle;
    margin-left: -12px;
    margin-right: 7px;
  } */

  .news-headlines li:hover, a:hover {
      cursor: pointer;
      text-decoration: underline;
  }
  
  .news-headlines .highlight {
     width: 100%;
     background: #ededed;
     border-top: solid 1px #999;
     border-left: solid 1px #999;
     border-bottom: solid 1px #999;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 10;
     height: 100px;
  }

  .news-headlines .highlight:before {
    display: none;
  }

.news-headlines {
   float: right;
   width: 37.5%;
   /* z-index: 99999; */
}

.news-preview {
   float: left;
  /* width: 51%; */
  /* background: #ededed; */
  position: relative;
  /* z-index: 5; */
  /* margin-left: -1px; */
   /* min-height: 386px; 
   height: 386px!important; */
  width: 62.5%;
}

  .news-preview img {
    display: block;
    /* border: solid 1px #999; */
    width: 100%;
    /* height: auto; */
    /* height: 386px; */
    max-width: 620px;
    /* max-height: 386px; */
    margin: 0 auto 5px auto;
  } 
  
.news-content {
      position: absolute;
  /* background: #ededed; */
  z-index: 10;
  /* padding: 10px; */
  top: 0;
  left: 0;
  display: none;
  width: 100%;
}

.top-content {
    display: block;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.news-demo {
  background: #fff;
  padding: 20px;
}

.news-demo h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #777;
  margin-bottom: 40px;
}

.news-demo .p {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 22px;
  margin-top: 70px;
}

.news-demo .p ~ p {
  margin-top: 0;
}

.news-demo .p a {
  text-decoration: underline;
}

.news-demo .p a:hover {
  color: red;
}

/**/
ul.news-headlines li {
    /* padding: 24px 15px; */
    background-color: #58636b;
    margin: 0;
    height: 82px;
    border-bottom: 1px solid #697076; 
  }
  ul.news-headlines li.selected {
    background-color: #ffffff;
    /* border-left: 5px solid #e0e0e0; */
  }
.news-headlines li {
  list-style-type: none!important;
}
.news-headlines li h3 {
  line-height: 20px !important;
  margin: 0!important;
}
ul.news-headlines li h3 {
  font-size: 19px!important;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  /* padding: 0 10px; */
  padding: 0 0 0 24px;
  height: 100%!important;
}
ul.news-headlines li.selected h3 {
  color: #58636b;
}
ul.news-headlines li div:hover, ul.news-headlines li:hover {
  text-decoration: none;
}
.news-preview .body_summary {
  height: 40px;
  overflow: hidden;
  margin: -46px 0 5px 0px;
  background-color: rgba(0,0,0,.5);
  position: relative;
  padding: 10px 0 0 10px;
  opacity: 0.7;
}
.news-preview .body_summary a {
  color: #fff !important;
}
.gallery__title_wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.grid-list.grid-list--thrids .grid-item {
  margin: 0 1.25rem 14px 0!important;
}
.model-folio-gallery__title {
  margin: 4px 0 7px 0!important;
}

.grid-4.blog-sidebar {
  width: 330px;
}
.grid-4.blog-sidebar .wrap-noclear {
    margin: 15px 20px 15px 0px;
}